<div class="loader_wrapper">
  <div *ngFor="let loader of loaders" class="loader">
    <div class="loader_left">
      <ngx-skeleton-loader [theme]="{ width: '100%', height: '100%' }">
      </ngx-skeleton-loader>
    </div>
    <div class="loader_right">
      <div class="section_left">
        <div>
          <ngx-skeleton-loader [theme]="{
                          width: '100%',
                          'border-radius': '0',
                          height: '1.8em'
                        }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                          width: '40%',
                          'border-radius': '0',
                          height: '1.2em'
                        }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                          width: '100%',
                          'border-radius': '0',
                          height: '1em'
                        }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                          width: '100%',
                          'border-radius': '0',
                          height: '1em'
                        }"></ngx-skeleton-loader>
        </div>

        <div>
          <ngx-skeleton-loader [theme]="{     
                            width: '60%',
                            'border-radius': '0',
                            height: '1.3em'
                          }"></ngx-skeleton-loader>
        </div>
      </div>
      <div class="section_right">
        <div>
          <ngx-skeleton-loader [theme]="{
                              width: '50%',
                              'border-radius': '0',
                              height: '1em'
                            }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                              width: '70%',
                              'border-radius': '0',
                              height: '1em'
                            }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                              width: '60%',
                              'border-radius': '0',
                              height: '1.3em'
                            }"></ngx-skeleton-loader>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="{     
                              width: '70%',
                              'border-radius': '0',
                              height: '2.2em'
                            }"></ngx-skeleton-loader>
        </div>

        <div>
          <ngx-skeleton-loader [theme]="{     
                                width: '40%',
                                'border-radius': '0',
                                height: '1em'
                              }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>