<div class="">
  <div #hotelSuggestionsContainer class="hotel-suggestions" (click)="suggestionsClicked($event)">
    <div class="hotel-suggestions_header">
      CITY / HOTEL
    </div>
    <div class="selected_area">
      {{selectedArea?.name}}
      <span class="selected_area-placeholder" *ngIf="!selectedArea || !selectedArea?.name">Select City /
        Hotel</span>
    </div>
    <ng-select #select [ngClass]="{'d-none': !showNgSelect}" name="destination"
      class="form-control suggestions home-searchbar" [items]="suggestions" [hideSelected]="true"
      [loading]="suggestionsLoading" [typeahead]="suggestionsInput" [(ngModel)]="selectedArea" bindLabel="displayName"
      [isOpen]="openNgSelect" (change)="onSuggestionAdded($event)" (scrollToEnd)="scrollToEnd()"
      placeholder="Search here">
    </ng-select>

  </div>
</div>