<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="main-heading">
				<h3><i class="fa fa-flights"></i> Review Your Booking</h3></div>

			<!-- Flight Details -->
			<div id="flights">
				<div class="flightdetail">
					<div class="row">
						<div class="col col-md-2 text-center pt-2 pb-2 br">
							<img src="images/delta-air-lines.png" class="img-fluid" alt="Delta Air Lines" title="Delta Airlines">
							<div class="clearfix"></div>
							<div class="fname text-muted">Delta - C9-225 </div>
							<div class="text-muted">Tue, 12 Dec 2017 </div>
						</div>
						<div class="col col-md-3 pt-2 pb-2 br">
							<div class="arival pull-left"></div>
							<div class="pull-left text-muted"><span class="departureTime"> 07:40 - 10:31 </span>
								<div class="stop">LHR-&gt;PRG-&gt;BCN</div>
								<div class="">C, 1</div>

							</div>

						</div>
						<div class="col col-md-4 pt-2 pb-2 br text-muted text-center">
							<div class="text-center pb-2 pt-1">
								<span><i class="fa fa-clock-o"></i> 1H 51M | </span>
								<span><i class="fa fa-suitcase"></i> 15 kgs |</span>
								<span class="text-success"><i class="fa fa-money"></i> Refundable </span>
							</div>

							<div class="flightstops">
								<ul class="flightstops">
									<li><span> DEL</span></li>
									<li><span> BOM</span></li>
								</ul>

							</div>

						</div>
						<div class="col col-md-3 pt-2 pb-2 br text-muted">
							<div class="depart pull-left"></div>
							<div class="pull-left"><span class="departureTime"> 07:40 - 10:31 </span><span class="flightDuration small d-none">(1H 51M )</span>
								<div class="stop">LHR-&gt;PRG-&gt;BCN</div>
								<div class="">C, 1</div>
							</div>
						</div>
						<div class="clearfix"></div>

					</div>
				</div>
			</div>
			<!-- Flight Details -->
			<!-- Traveller Details  -->
			<div class="flightdetail">
				<div class="row">
					<div class="col-md-6">
						<div class="main-heading">
							<h4><i class="fa fa-users"></i> Enter Traveller Details </h4></div>
					</div>
					<div class="col-md-6">
						<h5 class="mt-4"><a href="#" data-toggle="modal" data-target=".sign-in">Sign in</a> to book faster</h5> </div>

					<!-- Sign In Model -->
					<div class="modal fade bd-example-modal-sm sign-in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">

							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<form class="px-2 py-1">
										<div class="form-group">
											<label for="exampleDropdownFormEmail1">Email address</label>
											<input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
										</div>
										<div class="form-group">
											<label for="exampleDropdownFormPassword1">Password</label>
											<input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
										</div>
										<div class="form-check">
											<label class="checkcontainer small">
												<input type="checkbox" checked=""><span class="checkmark"></span>Remember me</label>
										</div>

										<button type="submit" class="btn btn-danger btn-block">Sign in</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- Sign In Model -->

				</div>
				<div class="clearfix"></div>

				<hr>
				<form>
					<div class="row">
						<div class="col-md-12">
							<h5>Contact Details</h5></div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email Address">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<input type="tel" class="form-control" placeholder="Phone">
							</div>
						</div>
					</div>
				</form>

				<hr>

				<form>
					<div class="row">
						<div class="col-md-12">
							<h5>Passengers Details</h5></div>
						<div class="col-md-12 text-primary">
							<h6>Passenger 1</h6></div>
						<div class="col-md-5">
							<div class="form-group">
								<input type="text" class="form-control" placeholder=" First Name">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 text-primary">
							<h6>Infant 1</h6></div>
						<div class="col-md-5">
							<div class="form-group">
								<input type="text" class="form-control" placeholder=" First Name">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<input type="text" class="form-control from-dt mydatepicker pl-1 pr-1" placeholder="Infant DOB">
							</div>
						</div>
					</div>

				</form>
			</div>
			<!-- Traveller Details  -->


			<!-- Insurance Details  -->
			<div class="flightdetail">
				<div class="main-heading text-left">
					<h4><img src="./assets/images/plane.png" class="img-fluid">Insurance Details </h4></div>

				<hr>
				<form>

					<div class="form-group">
						<label class="checkcontainer small">
							<input type="checkbox" checked=""><span class="checkmark"></span>Yes, Add travel insurance to protect my trip (Rs.269 per traveller)</label>
						<span class="text-muted"> The Travel Insurance policy will be provided by ICICI General Insurance Co. Ltd.</span>
					</div>
					<h6 class="text-warning">6000+ travellers on <em><u>BookMyFlight.com</u></em> insure their trip daily</h6>
					<div class="ins-benefit-list mt-4">
						<ul>
							<li class="text-center"><span class="cancellation"></span>
								<h6>Trip Cancellation</h6>
								<p>Claim upto Rs.25,000</p>
							</li>
							<li><span class="delay"></span>
								<h6>Flight Delay</h6>
								<p>Claim upto Rs.10,500</p>
							</li>
							<li><span class="baggage"></span>
								<h6>Loss of Baggage</h6>
								<p>Claim upto Rs.20,000</p>
							</li>
							<li><span class="emergency"></span>
								<h6>Medical Emergency</h6>
								<p>Claim upto Rs.2,00,000</p>
							</li>
						</ul>

						<div class="form-group text-center">
							<a class="btn btn-danger text-light" id="ins-benefit">View All Benefits </a>
						</div>
					</div>
				</form>
			</div>
			<!-- Insurance Details  -->



		</div>


		<div class="col-md-3">
			<div class="filter-data">
				<div class="flight-booking-cart">
					<h6>Fare Details</h6>
					<div class="row mb-2">
						<div class="col-md-7">Adult x 1</div>
						<div class="col-md-5 text-right"><i class="fa fa-inr"></i> 6499.00</div>
					</div>
					<div class="row mb-2">
						<div class="col-md-8 fair-fee" data-toggle="popover" data-html="true" title="" data-placement="bottom" data-content="" data-original-title="Fee &amp; Surcharges Details">Fee &amp; surcharges <a href="javascript:void();"><i class="fa fa-question-circle-o"></i></a></div>
						<div class="col-md-4 text-right"><i class="fa fa-inr"></i> 600 .00</div>

						<div class="popover-content" style="display:none;">
							<div class="row">
								<div class="col-md-8">User Development Fee</div>
								<div class="col-md-4 text-right"><i class="fa fa-inr"></i>350</div>
								<div class="col-md-8">Passenger Service Fee</div>
								<div class="col-md-4 text-right"><i class="fa fa-inr"></i>350</div>
								<div class="col-md-8">GST</div>
								<div class="col-md-4 text-right"><i class="fa fa-inr"></i>350</div>
								<div class="col-md-8">Airline Fuel Surcharges</div>
								<div class="col-md-4 text-right"><i class="fa fa-inr"></i>1125</div>
							</div>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-md-7">
							<label class="checkcontainer small">
								<input type="checkbox" checked=""><span class="checkmark"></span>T. Insurance</label>
						</div>
						<div class="col-md-5 text-right"><i class="fa fa-inr"></i> 499.00</div>
					</div>
					<div class="row mb-2 coupon-discount">
						<div class="col-md-7"><i class="fa fa-tag"></i> Discount <i class="fa fa-close remove-discount"></i> </div>
						<div class="col-md-5 text-right"><i class="fa fa-inr"></i> 99.00</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-md-6">
							<h5>You Pay:</h5></div>
						<div class="col-md-6 text-right">
							<h5 class="mb-0"><i class="fa fa-inr"></i> 7499.00 </h5>
							<span class="small"><a class="fare-rules" href="#">View Fare Rules</a></span>
						</div>
						<div class="col-md-12 text-right"> <a class="gst" href="#">Add your GST Details</a> <span class="text-muted">(Optional)</span>
						</div>
					</div>
					<hr>
					<h6>Have a Promo Code?</h6>
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Coupon Code" aria-label="Enter Coupon Code">
							<span class="input-group-btn">

        <button class="btn btn-secondary" type="button">Apply</button>

      </span>
						</div>
						<div class="text-right d-none"><a data-toggle="collapse" href="#promocode" aria-expanded="false" aria-controls="promocode">Select a Promo</a>
							<div class="collapse d-none" id="promocode">
								<div class="text-left promocode-body">
									<div class="alert alert-light" role="alert">
										<label>
											<input type="radio" name="promocode" id="20"> Get 20% off on flight booking</label>
									</div>
									<div class="alert alert-light" role="alert">
										<label>
											<input type="radio" name="promocode" id="30"> Get 30% off on flight booking</label>
									</div>
									<div class="alert alert-light" role="alert">
										<label>
											<input type="radio" name="promocode" id="40"> Get 40% off on flight booking</label>
									</div>


								</div>
							</div>
						</div>

					</form>
					<hr>
					<div class="form-group mt-2">
						<a href="#" class="btn btn-danger btn-block">Book Flight <i class="fa fa-plane"></i></a>
						<p class="text-right mt-2"><a href="#" class="text-primary"> Book Flight Via Paypal <i class="fa fa-paypal"></i></a></p>


					</div>

				</div>

			</div>
		</div>
	</div>
</div>