h1{
  color:green;
}

.ins-benefit-list li .cancellation {
    padding: 20px 29px;
    line-height: 60px;
    border-radius: 100px;
    border: 2px solid #f80759;
    list-style-type: none;
    background: #fff url("assets/images/flight.png") no-repeat 15px 12px;
    overflow: hidden;
}

.ins-benefit-list li .delay {
    padding: 20px 29px;
    line-height: 60px;
    border-radius: 100px;
    border: 2px solid #f80759;
    list-style-type: none;
    display: inline;
    background: #fff url("assets/images/plane.png") no-repeat 13px 12px;
    overflow: hidden;
}

.ins-benefit-list li .baggage {
    padding: 20px 29px;
    line-height: 60px;
    border-radius: 100px;
    border: 2px solid #f80759;
    list-style-type: none;
    display: inline;
    background: #fff url("assets/images/portfolio.png") no-repeat 13px 12px;
    overflow: hidden;
}

.ins-benefit-list li .emergency {
    padding: 20px 29px;
    line-height: 60px;
    border-radius: 100px;
    border: 2px solid #f80759;
    list-style-type: none;
    display: inline;
    background: #fff url("assets/images/ambulance.png") no-repeat 13px 12px;
    overflow: hidden;
}