h1 {
  color: green;
}

.modify_search-container {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 900;
}

.hotel_search-item {
  background: #fff;
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #eee;
  overflow-x: hidden;
  word-break: break-word;
}

.search_item_img-wrapper {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.search_item_img-wrapper img {
  width: 100%;
  height: 100%;
}

#notfound {
  padding-top: 100px;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hotel-details .hotel_name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #dc3545;
  /* color: #f80758;  */
}

.hotel-details .hotel_address {
  font-size: .8rem;
}

.star_rating i {
  color: #cfcece;
}

.price .hotel_rate {
  font-size: 1rem;
  color: #211b19;
  font-weight: bold;
}

.price .discounted_price,
.price .discount_percent {
  font-size: .8rem;
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  #notfound {
    padding: 80px 0 20px;
  }

  .notfound .notfound-404 h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 600px) {
  #notfound {
    padding: 80px 0 20px;
  }

  .notfound .notfound-404 {
    margin: 0px auto 10px;
  }

  .notfound .notfound-404 h1 {
    font-size: 86px;
  }

  .notfound .notfound-404 h2 {
    font-size: 16px;
  }

  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.search_result-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .search_result-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .search_result-container {
    max-width: 820px;
  }
}

@media (min-width: 992px) {
  .search_result-container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .search_result-container {
    max-width: 1140px;
  }
}

@media (max-width:600px) {
  .search_item_img-wrapper {
    height: 4.2rem;
    width: 100%;
  }

  .hotel-details .hotel_name {
    font-size: 1.2rem;
    font-weight: 700;
    color: #dc3545;
    /* color: #f80758;  */
  }
}