<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-4 py-2">
      <div class="">
        <div class="d-flex align-items-center py-2">
          <h4 class="font-weight-bold text-info pr-2">{{transaction?.hotel.name}}</h4>
          <div class="">
            <div class="d-flex">
              <i class="fa fa-star " [ngClass]="transaction?.hotel.starRating > 0 ? 'text-warning' : 'text-light'"></i>
              <i class="fa fa-star " [ngClass]="transaction?.hotel.starRating > 1 ? 'text-warning' : 'text-light'"></i>
              <i class="fa fa-star " [ngClass]="transaction?.hotel.starRating > 2 ? 'text-warning' : 'text-light'"></i>
              <i class="fa fa-star " [ngClass]="transaction?.hotel.starRating > 3 ? 'text-warning' : 'text-light'"></i>
              <i class="fa fa-star " [ngClass]="transaction?.hotel.starRating > 4 ? 'text-warning' : 'text-light'"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="hotel_image_container">
        <img class="" [src]="transaction?.hotel.imageDetails.prefix+0+transaction?.hotel.imageDetails.suffix"
          alt="hotel_image">
      </div>
      <div class="py-3">
        <div>
          {{transaction?.hotel.location.address}}, {{transaction?.hotel.location.city}},
          {{transaction?.hotel.location.postalCode}}
        </div>
        <div *ngIf="transaction?.hotel.moreDetails.phone">
          Phone: {{transaction?.hotel.moreDetails.phone}}
        </div>
        <div *ngIf="transaction?.hotel.moreDetails.email">
          Email: {{transaction?.hotel.moreDetails.email}}
        </div>
        <div *ngIf="transaction?.hotel.moreDetails.website !== 'null'">
          Website: {{transaction?.hotel.moreDetails.website}}
        </div>
        <div class="font-weight-bold py-2">
          Note: {{transaction?.cancellation_policy.remarks}}
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row pt-2 pt-md-4">
        <div class="col">
          Booking ID
        </div>
        <div class="col">
          {{transaction?.bookingId}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Check-in
          <br>
          Check-out
        </div>
        <div class="col">
          {{transaction?.prebook_response.data.package.check_in_date | date: 'mediumDate'}}
          <br>
          {{transaction?.prebook_response.data.package.check_out_date | date: 'mediumDate'}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Contact details
        </div>
        <div class="col">
          <div>
            {{transaction?.contact_details.mobile}}
          </div>
          <div>
            {{transaction?.contact_details.email}}
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Guest name
        </div>
        <div class="col">
          {{transaction?.contact_details.name}} {{transaction?.contact_details.last_name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Room
        </div>
        <div class="col">
          {{transaction?.prebook_response.data.package.room_details.supplier_description}}
          <br>
          {{transaction?.prebook_response.data.package.adult_count}} adults,
          {{transaction?.prebook_response.data.package.child_count}} child
        </div>
      </div>
      <hr>
      <div class="row payment_details">
        <div class="col">
          Payment Details
        </div>
        <div class="col">
          <div>
            <span class="item_key">Base Amount:</span> {{transaction?.pricing?.currency}}
            {{transaction?.pricing.base_amount_discount_included}}
          </div>
          <div>
            <span class="item_key">Service Charges:</span> {{transaction?.pricing?.currency}}
            {{transaction?.pricing.service_charges}}
          </div>
          <div>
            <span class="item_key">Processing Fee:</span> {{transaction?.pricing?.currency}}
            {{transaction?.pricing.processing_fee}}
          </div>
          <div>
            <span class="item_key">GST:</span> {{transaction?.pricing?.currency}} {{transaction?.pricing.gst}}
          </div>
          <div>
            <span class="item_key">Total:</span> {{transaction?.pricing?.currency}}
            {{transaction?.pricing.total_chargeable_amount}}
          </div>
          <div>
            <span class="item_key">Payment Status:</span> {{transaction?.payment_response.order_status}}
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Payment Method
        </div>
        <div class="col">
          <div>
            Mode: {{transaction?.payment_response.payment_mode}}
          </div>
          <div>
            Name : {{transaction?.payment_response.billing_name}}
          </div>
          <div>
            Card: {{transaction?.payment_response.card_name}}
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          Cancellation Policy
        </div>
        <div class="col">
          <table class="table">
            <thead>
              <th>Date From</th>
              <th>Date To</th>
              <th>Penalty %</th>
            </thead>
            <tbody>
              <tr *ngFor="let cancellation_policy of transaction?.cancellation_policy.cancellation_policies">
                <td>
                  {{cancellation_policy.date_from | date: 'mediumDate'}}
                </td>
                <td>
                  {{cancellation_policy.date_to | date: 'mediumDate'}}
                </td>
                <td>
                  {{cancellation_policy.penalty_percentage}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="cancellation && cancellation.data">
        <hr>
        <div class="row">
          <div class="col">
            Cancellation Details
          </div>
          <div class="col">
            <div class="text-danger">
              Cancelled on: {{cancellation?.data.cancellation_details.cancelled_at | date:'medium'}}
            </div>
            <div>
              Penalty: <strong>{{cancellation?.data.cancellation_details.penalty?.currency}}
                {{cancellation?.data.cancellation_details.penalty?.value}}</strong>
            </div>
            <div>
              Penalty %: <strong>{{cancellation?.data.cancellation_details.penalty_percentage}}</strong>
            </div>
            <div>
              Cancellation Charge: <strong>INR {{cancellation?.data.cancellation_details.cancellation_charge}}</strong>
            </div>
            <div>
              Refund: <strong>{{cancellation?.data.cancellation_details.refund?.currency}}
                {{cancellation?.data.cancellation_details.refund?.value}}</strong>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <div *ngIf="transaction.status === 1">
        <div class="pb-3">
          <button *ngIf="isCancelAllowed(transaction.search.check_in_date)" class="btn btn-danger btn-sm"
            (click)="cancelHotelBooking(transaction.bookingId)">
            Cancel Booking
          </button>
        </div>
      </div>
    </div>
  </div>
</div>