<div class="hotel-home_header">
  <div class="searchbar-wrapper">
    <app-hotel-searchbar></app-hotel-searchbar>
  </div>
</div>

<!-- SPECIAL OFFERS -->
<div class="container">
  <div class="special_offers mt-5" *ngIf="allOffer.length > 0">
    <div class="main-heading">
      <h3 class="heading"><i class="fa fa-tags"></i> Special Offers</h3>
    </div>
    <div class="row">
      <div class="carousel">
        <div class="owl-carousel owl-theme">
          <div class="col-md-12 hotel-col py-2" *ngFor="let item of allOffer">
            <img class="embed-responsive" [src]="api.baseUrl+item.image">
            <div class="hotel-info special_offers-banner">
              <h5>{{item.name}}</h5>
              <p>From : {{item.from | date:mediumDate}} - To : {{item.to | date:mediumDate}}</p>
              <a href="{{item.url}}" target="_blank" class="btn-light btn">Avail Offer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="hotel_offers mt-5 mb-4" *ngIf="allBanner.length > 0">
    <div class="main-heading">
      <h3 class="heading"><i class="fa fa-smile-o"></i> Banners</h3>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 hotel-col py-2" *ngFor="let banner of allBanner">
        <a href="{{banner.url}}" target="_blank">
          <img [src]="api.baseUrl+banner.image" class="embed-responsive mns">
          <div class="hotel-info">
            <h5>{{banner.name}}</h5>
            <p>{{banner.subtitle}}</p>
            <a href="{{banner.url}}" target="_blank" class="btn-light btn">Book Now</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Holiday package -->
<div class="container">
  <div class="holiday_packages mt-5 mb-4" *ngIf="allHoliday.length > 0">
    <div class="main-heading">
      <h3 class="heading"><i class="fa fa-smile-o"></i> Holiday Packages</h3>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 hotel-col py-2" *ngFor="let holiday of allHoliday">
        <a href="{{holiday.url}}" target="_blank">
          <img [src]="api.baseUrl+holiday.image" class="embed-responsive mns">
          <div class="hotel-info">
            <h5>{{holiday.name}}</h5>
            <p>{{holiday.subtitle}}</p>
            <a href="{{holiday.url}}" target="_blank" class="btn-light btn">Book Now</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Holiday package -->

<!-- Popular Hotels In India -->
<div class="container">
  <div class="popular_hotels mt-5 mb-4" *ngIf="allHotel.length > 0">
    <div class="main-heading">
      <h3 class="heading"><i class="fa fa-building"></i> Popular Hotels In India</h3>
    </div>
    <div class="row">
      <div class="col-md-4 hotel-col py-2" *ngFor="let hotel of allHotel">
        <img [src]="api.baseUrl+hotel.image" class="embed-responsive mnd">
        <div class="hotel-info">
          <h5>{{hotel.name}}</h5>
          <p>{{hotel.subtitle}}</p>
          <a href="{{hotel.url}}" target="_blank" class="btn-light btn">Book Hotel</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Popular Hotels In India -->