<div class="container">
	<div class="row mainheader">



		<!-- Left Panel -->
		<div class="col-md-2">
			<div class="text-link">
				<ul>
					<li><a href="about.php">About Us</a></li>
					<li><a href="services.php">Services</a></li>
					<li><a href="our-values.php">Values &amp; Ethics</a></li>
					<li><a href="team.php">Team</a></li>
					<li><a href="my-account-content.php">My Account</a></li>
					<li><a href="products.php">Products</a></li>
					<li><a href="for-business.php">For Business</a></li>
					<li><a href="faqs.php">Faq's</a></li>
					<li><a href="customer-care.php">Customer Care</a></li>
					<li><a href="terms-&amp;-conditions.php">Terms &amp; Conditions</a></li>
					<li><a href="privacy-policy.php">Privacy Policy</a></li>
					<li><a href="refund-policy.php">Refund Policy</a></li>
					<li><a href="user-agreement.php">User Agreement</a></li>
				</ul>
			</div>

		</div>
		<div class="col-md-10">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">

						<div class="headerType">
							<h5>Agreement Between User and Delonix Travel Services Pvt. Ltd</h5>
						</div>

					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-12" id="applicability">
						<div class="agreement">
							<p>Applicability of the agreement:</p>
						</div>
						<div class="user-agreement">
							<p>This agreement ("user agreement") incorporates the terms and conditions for Delonix Travel Services Pvt. Ltd and its affiliate Companies ("Delonix") to provide services to the person (s) ("the User") intending to purchase or inquiring for any products and/ or services of Delonix by using Delonix's websites or using any other customer interface channels of Delonix which includes its sales persons, offices, call centers, advertisements, information campaigns etc.</p>

							<p>Both User and Delonix are individually referred as 'party' to the agreement and collective referred to as 'parties'.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="responsibility">
						<div class="agreement">
							<p>User's responsibility of cognizance of this agreement</p>
						</div>
						<div class="user-agreement">
							<p>
								The Users availing services from Delonix shall be deemed to have read, understood and expressly accepted the terms and conditions of this agreement, which shall govern the desired transaction or provision of such services by Delonix for all purposes, and shall be binding on the User. All rights and liabilities of the User and/or Delonix with respect to any services to be provided by Delonix shall be restricted to the scope of this agreement.</p>
							<p>
								Delonix reserves the right, in its sole discretion, to terminate the access to any or all Delonix websites or its other sales channels and the related services or any portion thereof at any time, without notice, for general maintenance or any reason what so ever.</p>
							<p>
								In addition to this Agreement, there are certain terms of service (TOS) specific to the services rendered/ products provided by Delonix like the air tickets, MICE, bus, rail, holiday packages etc. Such TOS will be provided/ updated by Delonix which shall be deemed to be a part of this Agreement and in the event of a conflict between such TOS and this Agreement, the terms of this Agreement shall prevail. The User shall be required to read and accept the relevant TOS for the service/ product availed by the User.</p>
							<p>
								Additionally, the Service Provider itself may provide terms and guidelines that govern particular features, offers or the operating rules and policies applicable to each Service (for example, flights, hotel reservations, packages, etc.). The User shall be responsible for ensuring compliance with the terms and guidelines or operating rules and policies of the Service Provider with whom the User elects to deal, including terms and conditions set forth in a Service Providers' fare rules, contract of carriage or other rules.</p>
							<p>
								Delonix's Services are offered to the User conditioned on acceptance without modification of all the terms, conditions and notices contained in this Agreement and the TOS, as may be applicable from time to time. For the removal of doubts, it is clarified that availing of the Services by the User constitutes an acknowledgement and acceptance by the User of this Agreement and the TOS. If the User does not agree with any part of such terms, conditions and notices, the User must not avail Delonix's Services.</p>
							<p>
								In the event that any of the terms, conditions, and notices contained herein conflict with the Additional Terms or other terms and guidelines contained within any other Delonix document, then these terms shall control. </p>


						</div>

					</div>
					<div class="col-sm-12" id="modification">
						<div class="agreement">
							<p>Modification Of These Terms Of Use</p>
						</div>
						<div class="user-agreement">
							<p> Delonix reserves the right to change the terms, conditions, and notices under which the Delonix websites are offered, including but not limited to the charges. The User is responsible for regularly reviewing these terms and condiions.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="feedback">
						<div class="agreement">
							<p>Feedback From Customer And Solicitation:</p>
						</div>
						<div class="user-agreement">
							<p>The User is aware that Delonix provides various services like hotel bookings, car rentals, holidays and would like to learn about them, to enhance his / her travel experience. The User hereby specifically authorizes Delonix to contact the User with offers on various services offered by it through direct mailers, e-mailers, telephone calls, short messaging services (SMS) or any other medium, from time to time. In case that the customer chooses not to be contacted, he /she shall write to Delonix for specific exclusion at service@Delonix.com or provide his / her preferences to the respective service provider. The customers are advised to read and understand the privacy policy of Delonix on its website in accordance of which Delonix contacts, solicits the user or shares the user's information.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="proprietary">
						<div class="agreement">
							<p>Proprietary Rights</p>
						</div>
						<div class="user-agreement">
							<p>
								Delonix may provide the User with contents such as sound, photographs, graphics, video or other material contained in sponsor advertisements or information. This material may be protected by copyrights, trademarks, or other intellectual property rights and laws.</p>
							<p> The User may use this material only as expressly authorized by Delonix and shall not copy, transmit or create derivative works of such material without express authorization.</p>
							<p> User acknowledges and agrees that he/she shall not upload post, reproduce, or distribute any content on or through the Services that is protected by copyright or other proprietary right of a third party, without obtaining the written permission of the owner of such right.</p>
							<p>Any copyrighted or other proprietary content distributed with the consent of the owner must contain the appropriate copyright or other proprietary rights notice. The unauthorized submission or distribution of copyrighted or other proprietary content is illegal and could subject the User to personal liability or criminal prosecution.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="relationship">
						<div class="agreement">
							<p>Relationship</p>
						</div>
						<div class="user-agreement">
							<p>None of the provisions of any agreement, terms and conditions, notices, or the right to use this website by the User contained herein or any other section or pages of Delonix Websites or its partner websites, shall be deemed to constitute a partnership between the User and Delonix and no party shall have any authority to bind or shall be deemed to be the agent of the other in any way.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="updation">
						<div class="agreement">
							<p>Updation Of The Information By Delonix</p>
						</div>
						<div class="user-agreement">
							<p>User acknowledges that Delonix provides services with reasonable diligence and care. It endeavors its best to ensure that User does not face any inconvenience. However, at some times, the information, software, products, and services included in or available through the Delonix websites or other sales channels and ad materials may include inaccuracies or typographical errors which will be immediately corrected as soon as Delonix notices them. Changes are/may be periodically made/added to the information provided such. Delonix may make improvements and/or changes in the Delonix websites at any time without any notice to the User. Any advice received except through an authorized representative of Delonix via the Delonix websites should not be relied upon for any decisions.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="severability">
						<div class="agreement">
							<p>Severability</p>
						</div>
						<div class="user-agreement">
							<p>If any provision of this agreement is determined to be invalid or unenforceable in whole or in part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of this Agreement shall continue to be in full force and effect.
							</p>
						</div>
					</div>

					<div class="col-sm-12" id="modification">
						<div class="agreement">
							<p>Modification Of These Terms Of Use</p>
						</div>
						<div class="user-agreement">
							<p>Delonix reserves the right to change the terms, conditions, and notices under which the Delonix websites are offered, including but not limited to the charges. The User is responsible for regularly reviewing these terms and condiions.
							</p>
						</div>
					</div>
					<div class="col-sm-12" id="jurisdiction">
						<div class="agreement">
							<p>Jurisdiction </p>
						</div>
						<div class="user-agreement">
							<p> Delonix hereby expressly disclaims any implied warranties imputed by the laws of any jurisdiction or country other than those where it is operating its offices. Delonix considers itself and intends to be subject to the jurisdiction only of the courts of NCR of Delhi, India.
							</p>
						</div>
					</div>
					<div class="col-sm-12" id="responsibilities">
						<div class="agreement">
							<p>Responsibilities Of User Vis-À-Vis The Agreement</p>
						</div>
						<div class="user-agreement">
							<p>The User expressly agrees that use of the services is at their sole risk. To the extent Delonix acts only as a booking agent on behalf of third party service providers, it shall not have any liability whatsoever for any aspect of the standards of services provided by the service providers.</p>
							<p> In no circumstances shall Delonix be liable for the services provided by the service provider. The services are provided on an "as is" and "as available" basis. Delonix may change the features or functionality of the services at any time, in their sole discretion, without notice. Delonix expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. No advice or information, whether oral or written, which the User obtains from Delonix or through the services shall create any warranty not expressly made herein or in the terms and conditions of the services.</p>
							<p> If the User does not agree with any of the terms above, they are advised not to read the material on any of the Delonix pages or otherwise use any of the contents, pages, information or any other material provided by Delonix. The sole and exclusive remedy of the User in case of disagreement, in whole or in part, of the user agreement, is to discontinue using the services after notifying Delonix in writing.
							</p>
						</div>
					</div>
				</div>
			</div>