<div class="container mt-5">
	<div class="row">
		<div class="col"></div>
		<div class="col">

			<div class="card">
				<div class="card-header">
					<h5 class="text-danger"><i class="fa fa-lock"></i> Please Login In to continue</h5>
				</div>

				<div class="card-body">

					<div class="form-group">
						<input type="number" required="" class="form-control" [(ngModel)]="paramsObj.mobile"
							placeholder="Enter Your Mobile Number">
					</div>
					<div class="form-group">
						<input type="password" required="" class="form-control" [(ngModel)]="paramsObj.password"
							placeholder="Enter Your Password">
					</div>
					<div class="form-group">
						<button (click)="login()" class="btn btn-block btn-danger">Login</button>
					</div>
					<div class="text-danger">{{loginValidation}}</div>
					<div class="text-right mb-2">
						<a [routerLink]="" (click)="open(fgPassModal)">Forgot Password</a>
					</div>
					<p>By clicking Login, you agree with our <a href="#">Terms of Service &amp; Privacy Policy</a> </p>
					<hr>
					<button class="btn btn-block btn-primary"><i class="fa fa-facebook"></i> Connect with
						Facebook</button>
					<button class="btn btn-block btn-danger"><i class="fa fa-google"></i> Connect with Google</button>
					<hr>
					<div class="text-center">Not yet Registered <a routerLink="/register">Click Here</a> </div>
				</div>

			</div>

		</div>
		<div class="col"></div>
	</div>
</div>

<ng-template #fgPassModal let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Forgot Password</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()"><span
				aria-hidden="true">&times;</span></button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="mobileNo">Please enter your registered mobile number</label>
			<input type="number" id="mobileNo" class="form-control" [(ngModel)]="forgotObj.mobile" placeholder="Mobile">
		</div>
		<button type="button" class="btn btn-danger" (click)="forgotRequest()">Submit</button>
	</div>
	<div class="text-danger px-3 pb-3">{{fgPassValidation}}</div>

</ng-template>


<!-- Replaced with ng-bootstrap modal -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="closes" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Mobile Number</label>
					<input type="number" class="form-control" [(ngModel)]="forgotObj.mobile" placeholder="Mobile">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="forgotRequest()">Submit</button>
			</div>
			<span class="msg">{{validation}}</span>
		</div>
	</div>
</div> -->