<div class="container">
	<div class="success tittle1">
		<img  src="../assets/images/check.png" width="150px" height="100px"   alt="">
		<h1   style="font-size:20px;">Your Booking has been Completed</h1>
		<p>Your booking refrence no.is 421521212</p>
		<span>Thankyou</span>
	</div>
	
	
	
	
	
	
	<div class="faild title2">
		<img src="../assets/images/close_red.png"  width="150px" height="100px" alt="">
		<h1  style="font-size:20px;">Your Booking has been Faild</h1>
		<p>Your booking refrence no.is 421521212</p>
		<span>Thankyou</span>
	</div>

</div>