<section id="user-profile" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center p-3">
                    <div class="profile-pic">
                        <i class="fa fa-user-o"></i>
                    </div>
                    <h4 class="user-name py-2">{{profile.name}} {{profile.last_name}}</h4>
                    <div class="user-info">
                        <p>{{profile.mobile}}</p>
                        <p>{{profile.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-details" class="card p-5">
                    <span class="edit-profile" (click)="toggleEditProfile()"><i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></span>
                    <div *ngIf="!showEditProfile">
                        <p class="text-style-bold">{{profile.name}} {{profile.last_name}}</p>
                        <p>Phone: {{profile.mobile}}</p>
                        <p>Email: {{profile.email}}</p>
                        <p>Address: </p>
                    </div>
                    <div *ngIf="showEditProfile">

                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="firstname">First Name:</label>
                                        <input class="form-control" [(ngModel)]="firstName" type="text" id="firstname"
                                            name="firstname">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="lastname">Last Name:</label>
                                        <input class="form-control" [(ngModel)]="lastName" type="text" id="lastname"
                                            name="lastname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" [(ngModel)]="email" type="email" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <div class="row">
                                    <div class="col">
                                        <input [disabled]="true" class="form-control" [(ngModel)]="password"
                                            type="password" id="password" name="password">
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <a class="text-danger" (click)="openChangePassModal(changePassModal)">Change
                                            Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <div class="row">
                                    <div class="col">
                                        <input [disabled]="true" class="form-control" [(ngModel)]="phone" type="number"
                                            id="phone" name="phone">
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <a class="text-danger" (click)="openChangePhoneModal(changePhoneModal)">Change
                                            Phone No.</a>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-danger" (click)="editProfile()">Submit</button>
                            <div class="text-danger pt-2">{{validation}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #changePassModal let-d="dismiss">
    <div class="modal-header px-4">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body px-4">
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" class="form-control" [(ngModel)]="currentPassword"
                name="current_password" placeholder="Current Password">
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" class="form-control" [(ngModel)]="newPassword" name="new_password"
                placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" class="form-control" [(ngModel)]="confirmPassword"
                name="confirm_password" placeholder="Confirm Password">
        </div>
        <button type="button" class="btn btn-danger" (click)="changePassword()">Submit</button>
    </div>
    <div class="text-danger px-4 pb-3">{{changePassValidation}}</div>
</ng-template>

<ng-template #changePhoneModal let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Change Phone No.</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <!-- <div class="modal-body">
                <div class="form-group">
                    <label for="current_password">Current Password</label>
                    <input type="password" id="current_password" class="form-control" [(ngModel)]="currentPassword"
                        name="current_password" placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" class="form-control" [(ngModel)]="newPassword" name="new_password"
                        placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" class="form-control" [(ngModel)]="confirmPassword"
                        name="confirm_password" placeholder="Confirm Password">
                </div>
                <button type="button" class="btn btn-danger" (click)="changePassword()">Submit</button>
            </div> -->
    <div class="text-danger px-3 pb-3">{{changePhoneValidation}}</div>
</ng-template>