/* .room-type {} */

.room-type_left-sec {
  padding: 0 20px;
}

.room-type_description {
  padding: 5px 0 10px;
  font-size: 23px;
  font-weight: bold;
}

.room-type_left-sec img {
  height: 225px;
  border-radius: 5px;
  max-width: 100%;
  min-width: 340px;
  object-fit: cover;
  margin-bottom: 20px;
}

.room-type_benefits ul {
  padding: 0 20px;
}

.room-type_info h4,
.room-type_aminities h4 {
  padding-left: 20px;
  font-size: 1.2rem;
}

.room-type_info p {
  padding-top: 2px;
  padding-left: 10px;
}

.room-type_info {
  display: flex;
}

.room-type_aminities ul {
  padding: 0 20px;
}

.room-type_aminities ul i {
  margin-right: 20px;
}

.room-type_aminities ul li {
  margin: 10px 0;
}

.room-type_benefits ul i {
  margin-right: 20px;
}

.room-type_benefits ul li {
  margin: 20px 0;

}

.room-type_body tr td:last-child {
  min-width: 12rem;
}


/* for mobile */

.hotel_packages .hotel_package-item {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  padding: .6rem;
}

.hotel_preview_img-container {
  width: 100%;
  height: 8rem;
  overflow: hidden;
}

.hotel_preview_img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel_package-item .room_type {
  font-size: 1.2rem;
  font-weight: bold;
}

.hotel_package-item .bed_type {
  text-transform: capitalize;
}

.hotel_package-item .bed_type p {
  font-size: .8rem;
}

.hotel_package-inclusions {
  font-size: 1rem;
  font-weight: bold;
}

.hotel_package-price {
  font-size: 1.2rem;
}

.hotel_badge-refundable {
  border: 1px solid #36b436;
  background-color: #36b436;
  color: #fff;
  border-radius: 2px;
  padding: .2rem .3rem;
}

.hotel_badge-non-refundable {
  border: 1px solid #f12e2e;
  background-color: #e02a2a;
  color: #fff;
  padding: .2rem .3rem;
  border-radius: 2px;
}