<!-- hotel-searchbar -->
<div class="hotel-searchbar">
  <div class="row location">
    <div class="col-md-3 px-0">
      <div class="">
        <div #hotelSuggestionsContainer class="hotel-suggestions" (click)="suggestionsClicked()">
          <div class="hotel-suggestions_header">
            CITY / HOTEL
          </div>
          <div class="selected_area">
            {{selectedArea?.name}}
            <span *ngIf="!selectedArea || !selectedArea?.name">Select City / Hotel</span>
          </div>
          <ng-select #select [ngClass]="{'d-none': !showNgSelect}" name="destination"
            class="form-control suggestions home-searchbar" [items]="suggestions | async" [hideSelected]="true"
            [loading]="suggestionsLoading" [typeahead]="suggestionsInput" [(ngModel)]="selectedArea"
            bindLabel="displayName" [isOpen]="openNgSelect" placeholder="Search here">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-md-3 pl-0 pr-0">
      <div #checkInContainer>
        <!-- <input id="checkindate" class="form-control" placeholder="CHECK-IN" name="checkInDate"
                    [(ngModel)]="checkInDateModel" ngbDatepicker #checkIn="ngbDatepicker"
                    (dateSelect)="onCheckInDateSelect($event,checkOut)" (click)="checkIn.toggle()" autocomplete="off"
                    readonly> -->
        <div id="checkindate" (click)="selectDate()">
          <div id="checkInStatus">CHECK-IN</div>
          <div id="checkInDate">{{formatDate(fromDate)}}</div>
          <div id="checkInDay">{{fromDay}}</div>
        </div>

        <div class="d-none d-md-block">
          <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
            outsideDays="hidden" [class.d-none]="!showDatePicker">
          </ngb-datepicker>
        </div>
        <!-- for mobile device -->
        <div class="d-md-none">
          <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
            outsideDays="hidden" [class.d-none]="!showDatePicker">
          </ngb-datepicker>
        </div>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <!--class for mydatepicker -->
    <div class="col-md-3 pl-0 pr-0">
      <div #checkOutContainer>
        <div id="checkoutdate" (click)="selectDate()">
          <div id="checkOutStatus">CHECK-OUT</div>
          <div id="checkOutDate"> {{formatDate(toDate)}} </div>
          <div id="checkOutDay">{{toDay}}</div>
        </div>
      </div>
    </div>

    <!-- NgbDropdown -->
    <div class="col-md-3 pl-0 pr-0">
      <div class="form-group nav">
        <div ngbDropdown autoClose="outside" class="form-control customDropdown">
          <div ngbDropdownToggle class="customDropdownToggle">
            <div class="dropdown_header">
              Rooms & Guests
            </div>
            <div>
              {{roomdetail.length}} Room<span *ngIf="roomdetail.length>1">s</span> &
              {{guests}} Guest<span *ngIf="guests > 1">s</span>
            </div>
            <div ngbDropdownMenu class="select_room-menu ml-auto px-3" aria-labelledby="hotel-menu">
              <app-hotel-select-guests [roomdetail]="roomdetail" [guests]="guests"
                (guestsChange)="onGuestsChange($event)" (roomdetailChange)="onRoomdetailChange($event)">
              </app-hotel-select-guests>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-3">
    <button type="button" tabindex="12" (click)="search()" class="btn hotel_search-btn">Search</button>
  </div>
</div>