<div class="container">   
<div class="row mainheader"> 
<!-- Left Panel -->
<div class="col-md-2">
	<div class="text-link">
	<ul>
		<li><a href="about.php">About Us</a></li>
		<li><a href="services.php">Services</a></li>
		<li><a href="our-values.php">Values &amp; Ethics</a></li>
		<li><a href="team.php">Team</a></li>
		<li><a href="my-account-content.php">My Account</a></li>
		<li><a href="products.php">Products</a></li>
		<li><a href="for-business.php">For Business</a></li>
		<li><a href="faqs.php">Faq's</a></li>
		<li><a href="customer-care.php">Customer Care</a></li>
		<li><a href="terms-&amp;-conditions.php">Terms &amp; Conditions</a></li>
		<li><a href="privacy-policy.php">Privacy Policy</a></li>
		<li><a href="refund-policy.php">Refund Policy</a></li>
		<li><a href="user-agreement.php">User Agreement</a></li>
	</ul>	
</div>

</div>
<!-- Left Panel -->

<!-- ......Right Panel -->
<div class="col-md-10">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12 excellence"><h2>OUR VALUES AND ETHICS @DELONIX </h2></div></div>

			<div class="row OurValuesContent">

				<div class="col-sm-6">
					<div class="row  OurValues">
						
						<img class="embed-responsive " src="images/excellence.png">
	
						<h4>Excellence-</h4>
						<p>We must strive for excellence in whatever we do. Focus on continuous improvement in interactions with people, efficiency of processes, and the wellbeing of the organization.</p>
						
					</div>

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/customer-inegrity.png">
						<h4>Customer Integrity-</h4>
						<p>We must maintain focus on our customers, both internal &amp; external, by giving them priority. Strive to exceed their expectations in terms of the value and quality delivered.	</p>
					</div>

					<div class="row OurValues">
						<img class="embed-responsive " src="images/integriy.png">
						<h4>Integrity-</h4>
						<p>We must ensure consistency between our words and actions, always delivering what we commit. We can thereby maintain transparency, trust and accountability.</p>
					</div>

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/accountability.png">
						<h4>Accountability-</h4>
						<p>We must feel responsible and accountable for the commitments we make and the quality of the results we deliver to all our stakeholders.</p>
					</div>
					
				</div>

				<div class="col-sm-6">

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/innovation.png">
						<h4>Innovation-</h4>
						<p>We must continually apply intelligence, reason and technology to our work and environment. This allow us to take informed risks &amp; champion new ideas to improve our business as well as the community.</p>
					</div>

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/teamwork.png">
						<h4>Teamwork-</h4>
						<p>We must foster an environment wherein we can efficiently utilise the abilities of all team members to achieve goals. We should work on the premise that the whole is greater than the sum of the parts</p>
					</div>

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/fun-at-work.png">
						<h4>Fun at work-</h4>
						<p>We must create and maintain an atmosphere of fun while at work, making work a happy place we can all look forward to.

						</p>
					</div>

					<div class="row  OurValues">
						<img class="embed-responsive " src="images/empowerment.png">
						<h4>Empowerment-</h4>
						<p>We must give fellow colleagues the opportunity and freedom to think and act in ways that will allow them to get the job done, and yet be consistent with the processes laid down.</p>
					</div>
					
				</div>
				
			</div>
			
		</div>
						
					
</div>
<!-- ......Right Panel -->
</div>
</div>