<div class="container">
	<!-- <div class="pt-2 mt-1 bg-light" *ngIf="hotelObj != ''"> -->
	<div class="pt-2 mt-1 bg-light" *ngIf="hotelObj">
		<div class="row">
			<div class="col-md-6 text-light">
				<p><a class="btn-outline-dark btn" routerLink="/searchresult">Go Back</a></p>
			</div>

			<div class="col-md-6 text-right">
				<!-- <button type="button" data-toggle="modal" data-target="#exampleModal"
					class="btn-outline-danger btn btn-sm"><i class="fa fa-search"></i> Modify Search</button> -->
			</div>

			<!-- Modify Search -->
			<!-- <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modify Search</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>

						<div class="modal-body">
							<form>

								<div class="row location">
									<div class="col-md-4 pr-0">
										<div class="form-group">
											<ng-select name="destination" class="form-control suggestions"
												[items]="suggestions | async" [hideSelected]="true"
												[loading]="suggestionsLoading" [typeahead]="suggestionsInput"
												[(ngModel)]="selectedArea" bindLabel="displayName"
												placeholder="Search here">
											</ng-select>
										</div>
									</div>


									<div class="col-md-4 pl-0 pr-0">
										<div class="form-group">
											<input type="date" class="form-control from-dt " name="checkInDate"
												[(ngModel)]="checkInDate" tabindex="3" placeholder="Date From">
										</div>
									</div>

									<div class="col-md-4 pl-0  ">
										<div class="form-group">
											<input type="date" class="form-control last-dt" name="checkOutDate"
												[(ngModel)]="checkOutDate" tabindex="4" placeholder="Date TO">
										</div>
									</div>

									<div class="col-md-10 ml-auto passenger-modi">
										<div class="col-md-9 mb-2" *ngFor="let room of roomdetail; let i = index"
											[attr.data-index]="i">
											<p class="text-red"><b>Room {{room.room}}</b></p>
											<div class="clearfix"></div>
											<div class="range-data">
												<div id="total-adult-hotel" class="value">{{room.adult_count}}</div>
												Adults
												<br><span class="text-muted small">+12 YRS</span>
											</div>
											<div class="range">
												<input type="range" class="adults " name="adults"
													[(ngModel)]="room.adult_count" tabindex="5" min="1" max="9"
													value="1" id="adult-hotel">
											</div>

											<div class="clearfix"></div>

											<div class="range-data">
												<div id="total-child-hotel" class="value">{{room.child_count}}</div>
												Child
												<br> <span class="text-muted small">Below 12 YRS</span>
											</div>
											<div class="range">
												<input type="range" class="child " min="0"
													[(ngModel)]="room.child_count" (change)="checkChildren(i)"
													name="child" tabindex="6" max="4" value="0" id="child-hotel">

											</div>

											<div class="clearfix"></div>
											<div class="row child-age " id="child-age-select">
												<div class="col" *ngFor="let child of room.children">
													<div class="small text-center">Child {{child.child}} Age</div>
													<select class="form-control" name="children[]"
														[(ngModel)]="child.age">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="5">5</option>
														<option value="6">6</option>
														<option value="7">7</option>
														<option value="8">8</option>
														<option value="9">9</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
												</div>
											</div>
											<div class="border mb-2 mt-2"></div>
										</div>


										<div class="row">
											<div class="col-md-4 mt-2 ml-2">
												<a class="btn btn-danger  text-light addroom ml-2 "
													(click)="addRoomInSearch()">Add Rooms</a>
											</div>
											<div class="col-md-5 mt-2 mr-2 text-right">
												<a *ngIf="roomdetail.length> 1"
													class="btn btn-outline-secondary removeroom mr-2"
													(click)="removeRoomFromSearch()"><span class="small">Remove
														Rooms</span></a>

											</div>
										</div>
										<div class="col mt-2 text-right">
											<button type="submit" tabindex="12" class="btn btn-danger"
												(click)="searchAgain()"
												onclick="$('#exampleModal').modal({'backdrop': 'static'});">Search Again
											</button>
										</div>
									</div>

								</div>

							</form>
						</div>

					</div>
				</div>
			</div> -->
			<!-- Modify Search -->
		</div>
	</div>
</div>

<div class="container pt-2">
	<div class=" bg-dark">
		<div class="row " style="padding-left: 10px;">

			<div class="col-md-8 text-light mt-2">
				<h4><i class="fa fa-building"></i> {{hotelObj.name}}</h4>
				<p class="small" style="margin:0px;"><i class="fa fa-map-marker"></i> {{hotelObj.location.address}} |
					{{hotelObj.location.postalCode}}</p>
				<div class="rating">
					<i class="fa fa-star " [ngClass]="{'text-warning' : hotelObj.starRating > 0 }"></i>
					<i class="fa fa-star " [ngClass]="{'text-warning' : hotelObj.starRating > 1 }"></i>
					<i class="fa fa-star " [ngClass]="{'text-warning' : hotelObj.starRating > 2 }"></i>
					<i class="fa fa-star " [ngClass]="{'text-warning' : hotelObj.starRating > 3 }"></i>
					<i class="fa fa-star " [ngClass]="{'text-warning' : hotelObj.starRating > 4 }"></i>
				</div>
			</div>

			<div class="col-md-2 mt-2 text-center text-light">
				<span class="small" *ngIf="hotelObj.rates.packages[0].indicative_market_rates">
					<s *ngIf="hotelObj.rates.packages[0].guest_discount_percentage">
						{{(((-1*hotelObj.rates.packages[0].guest_discount_percentage)/100) * hotelObj.rates.packages[0].chargeable_rate)+ hotelObj.rates.packages[0].chargeable_rate | number: '1.0-0'}}</s>
				</span>&nbsp;
				<span class="badge badge-success text-light small"
					*ngIf="hotelObj.rates.packages[0].guest_discount_percentage">
					{{hotelObj.rates.packages[0].guest_discount_percentage}} % </span>
				<h4 class="text-light mb-0">
					{{hotelObj.rates.packages[0].chargeable_rate_currency}}.
					<span>{{hotelObj.rates.packages[0].chargeable_rate | number: '1.0-0'}}</span>
					<!-- <i class="fa fa-inr"></i> {{hotelObj.rates.packages[0].chargeable_rate}} -->
				</h4>
				<span class="small">For {{getNoOfNights()}} night, {{getNoOfNights()+1}} days</span>
			</div>

			<div class="col-md-2 mt-2 text-right">
				<div class="pr-3">
					<button type="button" class="btn-danger btn btn-sm"
						(click)="selectPackage(hotelObj.rates.packages[0])"><i class="fa fa-thumb-up"></i> Book
						Room</button>
				</div>
			</div>

			<!-- Modify Search -->
			<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Modify Search</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="Hotel/search-result.php">

								<div class="row location">
									<div class="col-md-4 pr-0">
										<div class="form-group">
											<span class="twitter-typeahead"
												style="position: relative; display: inline-block;">
												<input type="text" class="form-control typeahead destination tt-hint"
													tabindex="-1" readonly="" autocomplete="off" spellcheck="false"
													style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);"
													dir="ltr">
												<input type="text" class="form-control typeahead destination tt-input"
													tabindex="1" placeholder="Destination" autocomplete="off"
													spellcheck="false" dir="auto"
													style="position: relative; vertical-align: top; background-color: transparent;">
												<pre aria-hidden="true"
													style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Open Sans', sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
												<div class="tt-menu"
													style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
													<div class="tt-dataset tt-dataset-states"></div>
												</div>
											</span>
										</div>
									</div>


									<div class="col-md-4 pl-0 pr-0">
										<div class="form-group">
											<input type="date" name="checkInDate"
												class="form-control from-dt checkInDate " [(ngModel)]="checkInDate"
												tabindex="3" placeholder="Date From" autocomplete="off">
										</div>
									</div>

									<div class="col-md-4 pl-0  ">
										<div class="form-group">
											<input type="date" name="checkOutDate"
												class="form-control last-dt checkOutDate " [(ngModel)]="checkOutDate"
												tabindex="4" placeholder="Date TO" autocomplete="off">
										</div>
									</div>

									<div class="col-md-10 ml-auto passenger-modi">
										<div class="form-group">
											<div class="nav-item dropdown form-control">
												<div class="dropdown-toggle" id="hotel-menu" href="#"
													data-toggle="dropdown" aria-expanded="false">1 Person,
													{{roomdetail.length}} Room
												</div>

												<div class="dropdown-menu passenger ml-auto"
													aria-labelledby="hotel-menu">
													<div class="col-md-12 mb-2"
														*ngFor="let room of roomdetail; let i = index"
														[attr.data-index]="i">
														<p class="text-red"><b>Room {{room.room}}</b></p>
														<div class="clearfix">
														</div>
														<div class="range-data">
															<div id="total-adult-hotel" class="value">
																{{room.adult_count}}</div> Adults<br /><span
																class="text-muted small">+12 YRS</span>
														</div>
														<div class="range">
															<input type="range" class="adults" name="adults{{i}}"
																[(ngModel)]="room.adult_count" tabindex="5" min="1"
																max="9" value="1" id="adult-hotel">
														</div>


														<div class="clearfix">

														</div>

														<div class="range-data">
															<div id="total-child-hotel" class="value">
															</div>
															Child <br />
															<span class="text-muted small">Below 12 YRS</span>
														</div>
														<div class="range">
															<input type="range" class="child " min="0"
																[(ngModel)]="room.child_count"
																(change)="checkChildren(i)" name="child{{i}}"
																tabindex="6" max="4" value="0" id="child-hotel">
														</div>

														<div class="clearfix">
														</div>
														<!-- Added Ankit -->
														<div class="row child-age" id="child-age-select">
															<div class="col"
																*ngFor="let child of room.children, let i=index">
																<div class="small text-center">Child {{i+1}} Age</div>
																<select class="form-control" name="childAge{{i}}"
																	[(ngModel)]="child.age">
																	<option [value]="1">1</option>
																	<option [value]="2">2</option>
																	<option [value]="3">3</option>
																	<option [value]="4">4</option>
																	<option [value]="5">5</option>
																	<option [value]="6">6</option>
																	<option [value]="7">7</option>
																	<option [value]="8">8</option>
																	<option [value]="9">9</option>
																	<option [value]="10">10</option>
																	<option [value]="11">11</option>
																	<option [value]="12">12</option>
																</select>
															</div>
															<div class="border mb-2 mt-2">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6 mt-2">
															<a class="btn btn-danger text-light addroom ml-2 "
																(click)="addRoomInSearch()">Add
																Rooms</a>
														</div>

														<div class="col-md-6   mt-2 text-right">
															<a *ngIf="roomdetail.length> 1"
																class="btn btn-outline-secondary removeroom mr-2"
																(click)="removeRoomFromSearch()"><span
																	class="small">Remove Rooms</span></a>

														</div>
													</div>

													<div class="col mt-2 text-right">
														<button class="btn-success btn">Done</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Modify Search -->
		</div>
	</div>
</div>

<div class="pt-2 container mb-1">
	<nav class="navbar navbar-expand-md navbar-danger bg-danger  ">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnav" aria-controls="subnav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="subnav">
			<ul class="navbar-nav mr-auto menu">
				<li class="nav-item active">
					<a class="nav-link" (click)="scroll(photos)">Photos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="scroll(rooms)">Rooms</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="scroll(review)">Reviews</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="scroll(map)">Map</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="scroll(amenities)">Amenities</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" (click)="scroll(hotelPolicy)">Hotel Policy</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="row">
		<hr>
		<div #photos class="col-md-8">
			<!-- slider -->
			<ui-carousel [infinite]="true" [fade]="false" [speed]="200">
				<ui-carousel-item *ngFor="let item of [].constructor(hotelObj.imageDetails.count); let i = index ">
					<img [ui-lazy-load]="hotelObj.imageDetails.prefix+i+hotelObj.imageDetails.suffix" class="slimage">
				</ui-carousel-item>
			</ui-carousel>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col">
					<div class="checkin-out img-thumbnail bg-dark text-light pt-3 pb-1 text-center">
						<div class="text-center">
							<div><i class="fa fa-clock-o fa-2x"></i> Check In</div>
							<p class="my-2">{{checkInDate}}</p>
							<p>{{hotelObj.moreDetails.checkInTime}}</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="checkin-out bg-dark img-thumbnail text-light pt-3 pb-1 text-center">
						<div class="text-center">
							<div><i class="fa fa-clock-o fa-2x"></i> Check Out</div>
							<p class="my-2">{{checkOutDate}}</p>
							<p>{{hotelObj.moreDetails.checkOutTime}}</p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<h5 class="text-uppercase text-danger">Highlights</h5>
			<div class="hotel-hilights">
				<i class="fa fa-wifi text-muted"></i>
				<i class="fa fa-cutlery text-muted"></i>
				<i class="fa fa-bed text-muted"></i>
				<i class="fa fa-shopping-basket text-muted"></i>
				<i class="fa fa-s15 text-muted"></i>
				<i class="fa fa-heartbeat text-muted"></i>
				<a herf="#highlights">View All</a>
			</div>

			<hr>
			<h5 class="text-uppercase text-danger">Amenities</h5>
			<div class="hotel-hilights">
				<!-- changes Ankit -->
				<i class="fa fa-wifi  text-muted" title="WIFI" *ngIf="hotelObj.amenities.includes('dataPorts')"></i>
				<i class="fa fa-tv text-muted" title="TV" *ngIf="hotelObj.amenities.includes('tVInRoom')"></i>
				<i class="fa fa-snowflake-o text-muted" title="AC"
					*ngIf="hotelObj.amenities.includes('airConditioning')"></i>
				<!-- <i class="fa fa-wifi  text-muted" title="WIFI" *ngIf="hotelObj.amenities.dataPorts"></i> -->
				<!-- <i class="fa fa-tv text-muted" title="TV" *ngIf="hotelObj.amenities.tVInRoom"></i> -->
				<!-- <i class="fa fa-snowflake-o text-muted" title="AC" *ngIf="hotelObj.amenities.airConditioning"></i> -->
				<i class="fa fa-bath text-muted" title="Private Washroom"></i>
				<i class="fa fa-car text-muted" title="Free parking"></i>
				<i class="fa fa-cutlery text-muted" title="Food"></i>
				<i class="fa fa-coffee text-muted" title="Breakfast"></i>
				<i class="fa fa-glass text-muted" title="Bar" *ngIf="hotelObj.amenities.includes('miniBarInRoom')"></i>
				<!-- <i class="fa fa-glass text-muted" title="Bar" *ngIf="hotelObj.amenities.miniBarInRoom"></i> -->
			</div>
		</div>

	</div>
	<hr>
</div>

<div class="container pb-3">
	<h4 class="overview">OVERVIEW</h4>
	<div [innerHtml]="hotelObj.moreDetails.description"></div>
</div>

<!-- ADDED ANKIT -->
<!-- CHOOSE ROOMS  -->
<section #rooms id="choose-rooms">
	<div class="container">
		<div class="py-3 d-flex align-items-center">
			<h4 class="choose_room mb-0 ml-0">CHOOSE ROOM</h4>
		</div>
		<div class="room-type" *ngFor="let package of hotelObj.rates.packages; let i = index">
			<table class="table table-bordered">
				<thead class="room-type_head">
					<tr class="bg-danger text-light">
						<th scope="col">Room Type</th>
						<th scope="col">Benefits</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody class="room-type_body">
					<tr>
						<td>
							<div class="room-type_left-sec">
								<h3 class="room-type_description">{{package.room_details.description}}</h3>
								<img src="{{hotelObj.imageDetails.prefix+i+hotelObj.imageDetails.suffix}}"
									alt="First slide">
								<div class="room-type_info">
									<h4>Room Type:</h4>
									<p>{{package.room_details.room_type}} Room</p>
								</div>
								<div class="room-type_info">
									<h4>Bed Type:</h4>
									<p *ngIf="package.room_details.beds.hasOwnProperty('single')">single -
										{{package.room_details.beds.single}}</p>
									<p *ngIf="package.room_details.beds.hasOwnProperty('double')">double -
										{{package.room_details.beds.double}}</p>
									<p *ngIf="package.room_details.beds.hasOwnProperty('double or twin')">double or twin
										-
										{{package.room_details.beds['double or twin']}}</p>
									<p *ngIf="package.room_details.beds.hasOwnProperty('king')">King
										-
										{{package.room_details.beds['king']}}</p>
									<p *ngIf="package.room_details.beds.hasOwnProperty('queen')">Queen
										-
										{{package.room_details.beds['queen']}}</p>
								</div>
								<div class="room-type_aminities">
									<h4>Aminities</h4>
									<ul class="list-unstyled">
										<li *ngIf="hotelObj.amenities.includes('tVInRoom')">
											<i class="fa fa-check" title="TV"></i>
											TV
										</li>
										<li>
											<i class="fa fa-check" title="AC"></i> Air Conditioning
										</li>
										<li>
											<i class="fa fa-bath" title="Shower"></i> Shower
										</li>
									</ul>
								</div>
							</div>
						</td>
						<td>
							<div class="room-type_benefits">
								<ul class="list-unstyled">
									<li>
										<i class="fa fa-wifi" title="WIFI"></i> Free Wi-Fi
									</li>
									<li>
										<i class="fa fa-check" title="WIFI"></i> Accommodation
									</li>
									<li *ngIf="package.room_details.food === 2">
										<i class="fa fa-coffee" title="Breakfast"></i> Free Breakfast
									</li>
									<li *ngIf="package.room_details.food !==1 && package.room_details.food !== 2">
										<i class="fa fa-cutlery"
											title="Food"></i>{{foodType[package.room_details.food]}}
									</li>
									<!-- <li class="text-success"><i class="fa fa-check-circle-o"
											title="Free Cancellation"></i> Free Cancellation
									</li> -->
								</ul>
							</div>
						</td>
						<td>
							<ul class="list-unstyled pl-0">
								<li class="text-success font-weight-bold"
									*ngIf="package.room_details.non_refundable !== true">
									<i title="refundable"></i> Refundable
								</li>
								<li class="text-danger font-weight-bold"
									*ngIf="package.room_details.non_refundable == true">
									<i title="non-refundable"></i> Non-Refundable
								</li>
							</ul>
							<h4 class="price text-dark font-weight-bold">
								<span class="small" *ngIf="hotelObj.rates.packages[i].indicative_market_rates">
									<s *ngIf="hotelObj.rates.packages[i].guest_discount_percentage">
										{{(((-1*hotelObj.rates.packages[i].guest_discount_percentage)/100) * hotelObj.rates.packages[i].chargeable_rate)+ hotelObj.rates.packages[i].chargeable_rate | number: '1.0-0'}}</s></span>
								<span class="badge badge-success text-light small"
									*ngIf="hotelObj.rates.packages[i].guest_discount_percentage">
									{{hotelObj.rates.packages[i].guest_discount_percentage}} % </span> <br>
								{{hotelObj.rates.packages[i].chargeable_rate_currency}}.
								<span>{{hotelObj.rates.packages[i].chargeable_rate  | number: '1.0-0'}}</span>
							</h4>
							<div class="btn btn-danger my-3" (click)="selectPackage(package)">Book Room <i
									class="fa fa-check"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<div #amenities class="container hotel-details">
	<div class="amenities">
		<h4 class="mb-2">HOTEL AMENITIES</h4>
		<p class="heading">Activities</p>
		<ul class="list" style="overflow: hidden;">
			<li style="float:left;" *ngFor="let amenities of hotelObj.amenities">{{amenities}}</li>
		</ul>
	</div>
</div>

<!-- ====================================================== -->
<!-- Uncommented because I have recreated the below section -->
<!-- ====================================================== -->

<!-- <div class="container">
	<div class="col pt-2 pb-0 bg-dark">
		<h5 class="text-light">CHOOSE ROOM</h5>
	</div>
	<div>
		<div class="movies content" id="movies" fjs-items="template=#hotel-template"
			*ngFor="let package of hotelObj.rates.packages; let i = index">
			<div class="flightdetail fjs_item" id="fjs_1">
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="carousel slide">
								<div class="carousel-inner">
									<div class="carousel-item "
										*ngFor="let item of [].constructor(hotelObj.imageDetails.count); let i = index "
										[ngClass]="{'active' : i == 0}">
										<img src="{{hotelObj.imageDetails.prefix+i+hotelObj.imageDetails.suffix}}"
											class="img-fluid" alt="First slide"
											style=" height: 255px;width: 100%;object-fit: cover;">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="hotel-details">
							<div class="row">
								<div class="col-7 br">
									<h4>{{hotelObj.name}}</h4>
									<div class="mb-2"><i class="fa fa-map-marker"></i> {{hotelObj.location.address}}
									</div>
									<p><i class="fa fa-bed"></i> {{hotelObj.rates.packages[0].room_details.description}}
									</p>

									<p class="facility">
										<i class="fa fa-wifi" title="WIFI" *ngIf="hotelObj.amenities.dataPorts"></i>
										<i class="fa fa-tv" title="TV" *ngIf="hotelObj.amenities.tVInRoom"></i>
										<i class="fa fa-snowflake-o" title="AC"
											*ngIf="hotelObj.amenities.airConditioning"></i>
										<i class="fa fa-bath" title="Private Washroom"></i>
										<i class="fa fa-car" title="Free parking"></i>
										<i class="fa fa-cutlery" title="Food"></i>
										<i class="fa fa-coffee" title="Breakfast"></i>
										<i class="fa fa-glass" title="Bar" *ngIf="hotelObj.amenities.miniBarInRoom"></i>
									</p>
									<hr>
									<div class="text-success"><i class="fa fa-check-circle-o"
											title="Free Cancellation"></i> Free
										Cancellation</div>

								</div>

								<div class="col-5 text-right ">
									<div class="rating text-success">
										<i class="fa fa-tripadvisor"></i>
										<i class="fa"
											[ngClass]="{'fa-star' : hotelObj.moreRatings.tripAdvisor.rating > 0 }"></i>
										<i class="fa"
											[ngClass]="{'fa-star' : hotelObj.moreRatings.tripAdvisor.rating > 1 }"></i>
										<i class="fa"
											[ngClass]="{'fa-star' : hotelObj.moreRatings.tripAdvisor.rating > 2 }"></i>
										<i class="fa"
											[ngClass]="{'fa-star' : hotelObj.moreRatings.tripAdvisor.rating > 3 }"></i>
										<i class="fa"
											[ngClass]="{'fa-star' : hotelObj.moreRatings.tripAdvisor.rating > 4 }"></i>
									</div>
									<div class="text-right">
										<span class="small">{{hotelObj.moreRatings.tripAdvisor.rating}} /
											5 <span
												*ngIf="math.round(hotelObj.moreRatings.tripAdvisor.rating) == 1">Poor</span>
											<span
												*ngIf="math.round(hotelObj.moreRatings.tripAdvisor.rating) == 2">Average</span>
											<span
												*ngIf="math.round(hotelObj.moreRatings.tripAdvisor.rating) == 3">Good</span>
											<span *ngIf="math.round(hotelObj.moreRatings.tripAdvisor.rating) == 4">Very
												Good</span>
											<span
												*ngIf="math.round(hotelObj.moreRatings.tripAdvisor.rating) == 5">Excellent</span>

											|

											{{hotelObj.moreRatings.tripAdvisor.reviewCount}} Reviews</span>
									</div>

									<hr>
									<h4 class="text-right price">

										<span class="small" *ngIf="hotelObj.rates.packages[i].indicative_market_rates">
											<s *ngIf="hotelObj.rates.packages[i].guest_discount_percentage">
												{{(((-1*hotelObj.rates.packages[i].guest_discount_percentage)/100) * hotelObj.rates.packages[i].chargeable_rate)+ hotelObj.rates.packages[i].chargeable_rate | number: '1.0-2'}}</s></span>

										<span class="badge badge-success text-light small"
											*ngIf="hotelObj.rates.packages[i].guest_discount_percentage">
											{{hotelObj.rates.packages[i].guest_discount_percentage}} % </span> <br>

										{{hotelObj.rates.packages[i].chargeable_rate_currency}}.
										<span>{{hotelObj.rates.packages[i].chargeable_rate}}</span></h4>
									<div class="text-success"
										*ngIf="hotelObj.rates.packages[i].non_refundable == false"><i class="fa fa-inr"
											title="Refundable"></i> Refundable</div>
									<div class="text-danger" *ngIf="hotelObj.rates.packages[i].non_refundable == true">
										<i class="fa fa-inr" title="Refundable"></i> Non-Refundable</div>
									<hr>
									<div class="btn btn-danger" (click)="selectPackage(package)">Book Room <i
											class="fa fa-check"></i>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- REVIEW -->

<div #review class="container hotel-details">
	<div class="">
		<h4 class="mb-2">Reviews</h4>
		<ul class="nav nav-tabs dreview" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="hotelreview-tab" data-toggle="tab" href="#hotelreview" role="tab"
					aria-controls="home" aria-selected="true">Hotel Reviews (2017)</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="roomreviews-tab" data-toggle="tab" href="#roomreviews" role="tab"
					aria-controls="roomreviews" aria-selected="false">Room Reviews (5)</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="bookmyflightreview-tab" data-toggle="tab" href="#bookmyflightreview" role="tab"
					aria-controls="bookmyflightreview" aria-selected="false">Book My Flight Reviews (Book My Flight)</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="hotelreview" role="tabpanel" aria-labelledby="hotelreview-tab">
				<div class="container">
					<div class="row">
						<div class="col-md-3 mt-3">
							<div class="rating">
								<h6>OVERALL RATING</h6>
								<hr>
								<div>
									<span class="text-success font-weight-bold rating">4.5</span>
									<img ng-src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg"
										class="fl"
										src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg">
									<p class="small text-muted">Rating from 940 Reviews</p>
								</div>
							</div>
							<hr>
							<h6>TRAVELLER RATING</h6>
							<div class="row">
								<div class="col-md-4 text-muted">Excellent</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 75%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Very Good</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 60%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Average</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 50%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Poor</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 30%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Terrible</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 15%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>

							<hr>
							<h6>RATING SUMMARY</h6>
							<div class="row">
								<div class="col-md-6 text-muted">Sleep Quality</div>
								<div class="col-md-6">
									<img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Location</div>
								<div class="col-md-6">
									<img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif">
								</div>

								<div class="col-md-6">Rooms</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Service</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Value</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
								<div class="col-md-6">Cleanliness</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
							</div>
						</div>

						<div class="col-md-9 pt-3 review-container">
							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">fThis was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="roomreviews" role="tabpanel" aria-labelledby="roomreviews-tab">
				<div class="pt-3 review-container">
					<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
						quality hotel
						near airport</h5>
					<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
					<div class="text-justify review">
						<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a part
							of ITC hotels
							- room are spacious with all modern amenities - complementary fruits was a part of executive
							club rooms -
							breakfast spread was pretty good with lots of different options - in room dining, taste
							can't say awesome
							but okay - but service was great.</p>
					</div>
					<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
						quality hotel
						near airport</h5>
					<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
					<div class="text-justify review">
						<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a part
							of ITC hotels
							- room are spacious with all modern amenities - complementary fruits was a part of executive
							club rooms -
							breakfast spread was pretty good with lots of different options - in room dining, taste
							can't say awesome
							but okay - but service was great.</p>
					</div>
					<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
						quality hotel
						near airport</h5>
					<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
					<div class="text-justify review">
						<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a part
							of ITC hotels
							- room are spacious with all modern amenities - complementary fruits was a part of executive
							club rooms -
							breakfast spread was pretty good with lots of different options - in room dining, taste
							can't say awesome
							but okay - but service was great.</p>
					</div>



				</div>


			</div>
			<div class="tab-pane fade" id="bookmyflightreview" role="tabpanel" aria-labelledby="bookmyflightreview-tab">
				<div class="container">
					<div class="row">
						<div class="col-md-3 mt-3">
							<div class="rating">
								<h6>OVERALL RATING</h6>
								<hr>
								<div>
									<span class="text-success font-weight-bold rating">4.5</span>
									<img ng-src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg"
										class="fl"
										src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg">
									<p class="small text-muted">Rating from 940 Reviews</p>
								</div>
							</div>
							<hr>
							<h6>TRAVELLER RATING</h6>
							<div class="row">
								<div class="col-md-4 text-muted">Excellent</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 75%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Very Good</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 60%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Average</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 50%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Poor</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 30%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="col-md-4">Terrible</div>
								<div class="col-md-8">
									<div class="progress mt-2" style="height:5px;">
										<div class="progress-bar" role="progressbar" style="width: 15%;"
											aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>

							<hr>
							<h6>RATING SUMMARY</h6>
							<div class="row">
								<div class="col-md-6 text-muted">Sleep Quality</div>
								<div class="col-md-6">
									<img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Location</div>
								<div class="col-md-6">
									<img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif">
								</div>

								<div class="col-md-6">Rooms</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Service</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

								<div class="col-md-6">Value</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
								<div class="col-md-6">Cleanliness</div>
								<div class="col-md-6"><img
										ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
										src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
							</div>
						</div>

						<div class="col-md-9 pt-3 review-container">
							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>

							<h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
								A quality
								hotel near airport</h5>
							<p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
							<div class="text-justify review">
								<p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport -
									a part of ITC
									hotels - room are spacious with all modern amenities - complementary fruits was a
									part of executive
									club rooms - breakfast spread was pretty good with lots of different options - in
									room dining, taste
									can't say awesome but okay - but service was great.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div #map class="container hotel-details py-3">
	<h4 class="mb-2">View On Map</h4>
	<div class="col">
		<iframe src="http://maps.google.com/maps?q=35.856737, 10.606619&z=15&output=embed" width="100%" height="450"
			frameborder="0" style="border:0"></iframe>
	</div>
</div>

<!-- Added Ankit -->
<div #hotelPolicy class="container">
	<div class="hotel-policy">
		<h4 class="mb-2">HOTEL POLICY</h4>
		<div [innerHTML]="hotelObj.policy"></div>
	</div>
</div>