<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-3">
        <div class="linkheader">domestic flights Routes</div>
        <ul>
          <li><a href="#@">Delhi to Agra </a></li>
          <li><a href="#">Delhi to Ahmedabad </a></li>
          <li><a href="#">Delhi to Allahabad </a></li>
          <li><a href="#">Delhi to Amritsar </a></li>
          <li><a href="#">Delhi to Aurangabad </a></li>
          <li><a href="#">Delhi to Bagdogra </a></li>
          <li><a href="#">Delhi to Bangalore </a></li>
          <li><a href="#">Delhi to Bhopal </a></li>
          <li><a href="#">Delhi to Bhubaneshwar </a></li>
          <li><a href="#">Delhi to Chandigarh </a></li>
          <li><a href="#">Delhi to Chennai </a></li>
          <li><a href="#">Delhi to Cochin</a></li>
        </ul>
      </div>

      <div class="col col-md-3">
        <div class="linkheader">Internationalflights Routes</div>
        <ul>
          <li><a href="#">Delhi to New York</a></li>
          <li><a href="#">Delhi to Canada</a></li>
          <li><a href="#">Delhi to USA</a></li>
          <li><a href="#">Delhi to Vienna</a></li>
          <li><a href="#">Delhi to Brussels</a></li>
          <li><a href="#">Delhi to Dublin</a></li>
          <li><a href="#">Delhi to Malta</a></li>
          <li><a href="#">Delhi to Oslo</a></li>
          <li><a href="#">Delhi to Toronto</a></li>
          <li><a href="#">Delhi to New York</a></li>
          <li><a href="#">Delhi to Canada</a></li>
          <li><a href="#">Delhi to USA</a></li>
        </ul>
      </div>

      <div class="col col-md-3 pt-3 pt-md-0">
        <div class="linkheader">Hotels in India</div>
        <ul>
          <li><a href="#">Hotels in Agra </a></li>
          <li><a href="#">Hotels in Ahmedabad </a></li>
          <li><a href="#">Hotels in Allahabad</a></li>
          <li><a href="#">Hotels in Amritsar </a></li>
          <li><a href="#">Hotels in Aurangabad </a></li>
          <li><a href="#">Hotels in Bagdogra</a></li>
          <li><a href="#">Hotels in Bangalore</a></li>
          <li><a href="#">Hotels in Bhopal </a></li>
          <li><a href="#">Hotels in Bhubaneshwar </a></li>
          <li><a href="#">Hotels in Chandigarh </a></li>
          <li><a href="#">Hotels in Chennai </a></li>
          <li><a href="#">Hotels in Cochin </a></li>
        </ul>
      </div>

      <div class="col col-md-3 pt-3 pt-md-0">
        <div class="linkheader">International Hotels </div>
        <ul>
          <li><a href="#">Hotels in New York</a></li>
          <li><a href="#">Hotels in Canada</a></li>
          <li><a href="#">Hotels in USA</a></li>
          <li><a href="#">Hotels in Vienna</a></li>
          <li><a href="#">Hotels in Brussels</a></li>
          <li><a href="#">Hotels in Dublin</a></li>
          <li><a href="#">Hotels in Malta</a></li>
          <li><a href="#">Hotels in Oslo</a></li>
          <li><a href="#">Hotels in Toronto</a></li>
          <li><a href="#">Hotels in New York</a></li>
          <li><a href="#">Hotels in Canada</a></li>
          <li><a href="#">Hotels in USA</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-between">
        <div class="d-flex flex-column">
          <a routerLink="/about/about-us">About Us</a>
          <a routerLink="/account/dashboard">My Account</a>
          <a routerLink="/about/product">Products</a>
          <a routerLink="/about/business">For Business</a>
          <a routerLink="/about/faq">Faq’s</a>
        </div>
        <div class="d-flex flex-column">
          <a routerLink="/about/term">Terms & Conditions</a>
          <a routerLink="/about/policy">Privacy Policy</a>
          <a routerLink="/about/refund">Refund Policy</a>
          <a routerLink="/about/agreement">User Agreement</a>
          <a routerLink="/about/care">Customer Care</a>
        </div>
      </div>

      <div class="col col-md-6 text-center pt-3 pt-md-0">
        <div>
          <p>Connect with us :</p>
          <a href="https://www.facebook.com/tripbazaar"><i class="fa fa-facebook "></i></a>
          <a href="https://twitter.com/trip_bazaar"><i class="fa fa-twitter "></i></a>
          <!-- <a href="#"><i class="fa fa-youtube "></i></a> -->
          <a href="https://www.instagram.com/tripbazaar.co/"><i class="fa fa-instagram "></i></a>
          <a href="https://www.linkedin.com/in/tripbazaar/"><i class="fa fa-linkedin "></i></a>
        </div>
        <div>
          <p class="copyright py-2">
            Powered by Delonix Travel Services
            <!-- <i class="fa fa-copyright" aria-hidden="true"></i> -->
          </p>
        </div>
      </div>

      <!-- <div class="col col-md-4  col-sm-12 text-right paymentmethod">
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-discover"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-paypal"></i>
      </div> -->
    </div>
  </div>
</div>