	<!-- <section class="footer-upper">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="text-center"><i class="fa fa-inr fa-2x text-pink"></i>
					<h5>Best Price Guaranteed</h5></div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="text-center"><i class="fa fa-sliders fa-2x "></i>
					<h5>Compare and Book</h5></div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="text-center"><i class="fa fa-refresh fa-2x "></i>
					<h5>Easy Returns</h5></div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="text-center"><i class="fa fa-money fa-2x"></i>
					<h5>No Booking Fees</h5></div>
				</div>
			</div>
			
			<p class="text-center">
			Bookmyflight.online offer the best deals on flight booking (along with the travel insurance), hotel booking, Cruise booking, Insurance.
			In the near future we will also provide the bus tickets, irctc train tickets, holiday packages and cab booking facility through our website. 
			We are working hard to become one of the leading online travel portal in future who would provide the one stop travel solution to all of its customers across India and the remaining part of the world.We will find the lowest domestic flights to destinations in India and also you can book the international flights having the lowest fare. We have currently 500,000 plus hotels associated with us worldwide and you can choose an appropriate hotel deal within your budget.</p>
			<div class="bottom-links text-center">
				<a href="#">About NDC</a> 
				<a href="#">About IATA</a>
				<a href="#">Integrate with BookmyFlight</a>
				<a href="#">APIs and Documentation</a>
			</div>
		</div>
	</section> -->


	<footer>
		<div class="container">
			<div class="row">
				<div class="col col-md-3">
					<div class="linkheader">domestic flights Routes</div>
					<ul>
						<li><a href="#@">Delhi to Agra </a></li>
						<li><a href="#">Delhi to Ahmedabad </a></li>
						<li><a href="#">Delhi to Allahabad </a></li>
						<li><a href="#">Delhi to Amritsar </a></li>
						<li><a href="#">Delhi to Aurangabad </a></li>
						<li><a href="#">Delhi to Bagdogra </a></li>
						<li><a href="#">Delhi to Bangalore </a></li>
						<li><a href="#">Delhi to Bhopal </a></li>
						<li><a href="#">Delhi to Bhubaneshwar </a></li>
						<li><a href="#">Delhi to Chandigarh </a></li>
						<li><a href="#">Delhi to Chennai </a></li>
						<li><a href="#">Delhi to Cochin</a></li>
					</ul>
				</div>

				<div class="col col-md-3">
					<div class="linkheader">Internationalflights Routes</div>
					<ul>
						<li><a href="#">Delhi to New York</a></li>
						<li><a href="#">Delhi to Canada</a></li>
						<li><a href="#">Delhi to USA</a></li>
						<li><a href="#">Delhi to Vienna</a></li>
						<li><a href="#">Delhi to Brussels</a></li>
						<li><a href="#">Delhi to Dublin</a></li>
						<li><a href="#">Delhi to Malta</a></li>
						<li><a href="#">Delhi to Oslo</a></li>
						<li><a href="#">Delhi to Toronto</a></li>
						<li><a href="#">Delhi to New York</a></li>
						<li><a href="#">Delhi to Canada</a></li>
						<li><a href="#">Delhi to USA</a></li>
					</ul>
				</div>

				<div class="col col-md-3">
					<div class="linkheader">Hotels in INdia</div>
					<ul>
						<li><a href="#">Hotels in Agra </a></li>
						<li><a href="#">Hotels in Ahmedabad </a></li>
						<li><a href="#">Hotels in Allahabad</a></li>
						<li><a href="#">Hotels in Amritsar </a></li>
						<li><a href="#">Hotels in Aurangabad </a></li>
						<li><a href="#">Hotels in Bagdogra</a></li>
						<li><a href="#">Hotels in Bangalore</a></li>
						<li><a href="#">Hotels in Bhopal </a></li>
						<li><a href="#">Hotels in Bhubaneshwar </a></li>
						<li><a href="#">Hotels in Chandigarh </a></li>
						<li><a href="#">Hotels in Chennai </a></li>
						<li><a href="#">Hotels in Cochin </a></li>
					</ul>
				</div>

				<div class="col col-md-3">
					<div class="linkheader">International Hotels </div>
					<ul>
						<li><a href="#">Hotels in New York</a></li>
						<li><a href="#">Hotels in Canada</a></li>
						<li><a href="#">Hotels in USA</a></li>
						<li><a href="#">Hotels in Vienna</a></li>
						<li><a href="#">Hotels in Brussels</a></li>
						<li><a href="#">Hotels in Dublin</a></li>
						<li><a href="#">Hotels in Malta</a></li>
						<li><a href="#">Hotels in Oslo</a></li>
						<li><a href="#">Hotels in Toronto</a></li>
						<li><a href="#">Hotels in New York</a></li>
						<li><a href="#">Hotels in Canada</a></li>
						<li><a href="#">Hotels in USA</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<p><a routerLink="/about/about-us">About Us</a>
						<a [routerLink]="">Team</a>
						<a routerLink="/account">My Account</a>
						<a routerLink="/about/product">Products</a>
						<a routerLink="/about/business">For Business</a>
						<a routerLink="/about/faq">Faq’s</a>
						<a routerLink="/about/care">Customer Care</a> </p>
					<p>
						<a routerLink="/about/term">Terms & Conditions</a>
						<a routerLink="/about/policy">Privacy Policy</a>
						<a routerLink="/about/refund">Refund Policy</a>
						<a routerLink="/about/agreement">User Agreement</a> </p>
				</div>

				<div class="col col-md-2  col-sm-12 text-center social">
					<p>Connect with us :</p>
					<a href="https://www.facebook.com/delonixtravel/"><i class="fa fa-facebook "></i></a>
					<a href="https://twitter.com/delonixtravel"><i class="fa fa-twitter "></i></a>
					<a href="https://plus.google.com/u/2/109467980804081306103"><i class="fa fa-google-plus  "></i></a>
					<!-- <a href="#"><i class="fa fa-youtube "></i></a> -->
					<a href="https://www.instagram.com/delonixtravel/"><i class="fa fa-instagram "></i></a>
					<a href="https://www.linkedin.com/in/delonixtravelservice/"><i class="fa fa-linkedin "></i></a>
				</div>

				<div class="col col-md-4  col-sm-12 text-right paymentmethod">
					<i class="fa fa-cc-visa"></i>
					<i class="fa fa-cc-discover"></i>
					<i class="fa fa-cc-mastercard"></i>
					<i class="fa fa-cc-paypal"></i>
				</div>
			</div>
		</div>
	</div>