<div class="container">   
	<div class="row mainheader"> 




<!-- Left Panel -->
		<div class="col-md-2">
			<div class="text-link">
				<ul>
					<li><a href="about.php">About Us</a></li>
					<li><a href="services.php">Services</a></li>
					<li><a href="our-values.php">Values &amp; Ethics</a></li>
					<li><a href="team.php">Team</a></li>
					<li><a href="my-account-content.php">My Account</a></li>
					<li><a href="products.php">Products</a></li>
					<li><a href="for-business.php">For Business</a></li>
					<li><a href="faqs.php">Faq's</a></li>
					<li><a href="customer-care.php">Customer Care</a></li>
					<li><a href="terms-&amp;-conditions.php">Terms &amp; Conditions</a></li>
					<li><a href="privacy-policy.php">Privacy Policy</a></li>
					<li><a href="refund-policy.php">Refund Policy</a></li>
					<li><a href="user-agreement.php">User Agreement</a></li>
				</ul>	
		    </div>
	
		</div>
<!-- Left Panel -->

<!-- ......Right Panel -->
		<div class="col-md-9">
			<h1>Products</h1>
							<p>Book-MyFlight.com offer the best deals on flight booking (along with the travel insurance), hotel booking, Cruise booking,  Insurance offering website. Delonix is India’s leading online travel company was founded in the year 2017.  Delonix empower the Indian travellers with instant booking and comprehensive choices, the company began its journey in the Indian travel market. Delonix aimed to offer a range of best-value products and services along with cutting-edge technology and dedicated round-the-clock customer support.
							In near future we will also provide the bus tickets, irctc train tickets, holiday packagesand cabs. 
							We are supposed to be one of the leading online travel portal in futurewho would provide the  one stop travel solution to all of its customers spanned across the world. We are able to find the lowest domestic flights to destinations in India  and also you can book the international flights having the lowest fare. We have currently  500,000 hotels associated with us worldwide and we'll get you an appropriate hotel deal within your estimated budget.
							</p>
		
						
		</div>
<!-- ......Right Panel -->
    



	</div>
</div>