<div class="">
  <div class="main-heading">
    <h4 class="heading mb-2">Reviews</h4>
  </div>
  <ul class="nav nav-tabs dreview" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="hotelreview-tab" data-toggle="tab" href="#hotelreview" role="tab"
        aria-controls="home" aria-selected="true">Hotel Reviews (2017)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="roomreviews-tab" data-toggle="tab" href="#roomreviews" role="tab"
        aria-controls="roomreviews" aria-selected="false">Room Reviews (5)</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="bookmyflightreview-tab" data-toggle="tab" href="#bookmyflightreview" role="tab"
        aria-controls="bookmyflightreview" aria-selected="false">Book My Flight Reviews (Book
        My Flight)</a>
    </li> -->
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="hotelreview" role="tabpanel" aria-labelledby="hotelreview-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mt-3">
            <div class="rating">
              <h6>OVERALL RATING</h6>
              <hr>
              <div>
                <span class="text-success font-weight-bold rating">4.5</span>
                <img ng-src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg" class="fl"
                  src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg">
                <p class="small text-muted">Rating from 940 Reviews</p>
              </div>
            </div>
            <hr>
            <h6>TRAVELLER RATING</h6>
            <div class="row">
              <div class="col-md-4 text-muted">Excellent</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Very Good</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Average</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Poor</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Terrible</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <hr>
            <!-- <h6>RATING SUMMARY</h6>
            <div class="row">
              <div class="col-md-6 text-muted">Sleep Quality</div>
              <div class="col-md-6">
                <img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Location</div>
              <div class="col-md-6">
                <img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif">
              </div>

              <div class="col-md-6">Rooms</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Service</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Value</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
              <div class="col-md-6">Cleanliness</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
            </div> -->
          </div>

          <div class="col-md-9 pt-3 review-container">
            <h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
              A quality
              hotel near airport</h5>
            <p class="small">by john doe on Thu December 28 20:02:17 +05:30 2017</p>
            <div class="text-justify review">
              <p class="text-truncate">This was my second stay at this hotel - not so far from
                airport -
                a part of ITC
                hotels - room are spacious with all modern amenities - complementary fruits was
                a
                part of executive
                club rooms - breakfast spread was pretty good with lots of different options -
                in
                room dining, taste
                can't say awesome but okay - but service was great.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="roomreviews" role="tabpanel" aria-labelledby="roomreviews-tab">
      <div class="pt-3 review-container">
        <h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
          quality hotel
          near airport</h5>
        <p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
        <div class="text-justify review">
          <p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a
            part
            of ITC hotels
            - room are spacious with all modern amenities - complementary fruits was a part of
            executive
            club rooms -
            breakfast spread was pretty good with lots of different options - in room dining, taste
            can't say awesome
            but okay - but service was great.</p>
        </div>
        <h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
          quality hotel
          near airport</h5>
        <p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
        <div class="text-justify review">
          <p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a
            part
            of ITC hotels
            - room are spacious with all modern amenities - complementary fruits was a part of
            executive
            club rooms -
            breakfast spread was pretty good with lots of different options - in room dining, taste
            can't say awesome
            but okay - but service was great.</p>
        </div>
        <h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg"> A
          quality hotel
          near airport</h5>
        <p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
        <div class="text-justify review">
          <p class="text-truncate">This was my 2nd stay at this hotel - not so far from airport - a
            part
            of ITC hotels
            - room are spacious with all modern amenities - complementary fruits was a part of
            executive
            club rooms -
            breakfast spread was pretty good with lots of different options - in room dining, taste
            can't say awesome
            but okay - but service was great.</p>
        </div>
      </div>
    </div>
    <!-- <div class="tab-pane fade" id="bookmyflightreview" role="tabpanel" aria-labelledby="bookmyflightreview-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mt-3">
            <div class="rating">
              <h6>OVERALL RATING</h6>
              <hr>
              <div>
                <span class="text-success font-weight-bold rating">4.5</span>
                <img ng-src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg" class="fl"
                  src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-11942-5.svg">
                <p class="small text-muted">Rating from 940 Reviews</p>
              </div>
            </div>
            <hr>
            <h6>TRAVELLER RATING</h6>
            <div class="row">
              <div class="col-md-4 text-muted">Excellent</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Very Good</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Average</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Poor</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-md-4">Terrible</div>
              <div class="col-md-8">
                <div class="progress mt-2" style="height:5px;">
                  <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <hr>
            <h6>RATING SUMMARY</h6>
            <div class="row">
              <div class="col-md-6 text-muted">Sleep Quality</div>
              <div class="col-md-6">
                <img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Location</div>
              <div class="col-md-6">
                <img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif">
              </div>

              <div class="col-md-6">Rooms</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Service</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>

              <div class="col-md-6">Value</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
              <div class="col-md-6">Cleanliness</div>
              <div class="col-md-6"><img ng-src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"
                  src="https://static.tacdn.com/img2/ratings/traveler/ss4.5.gif"></div>
            </div>
          </div>

          <div class="col-md-9 pt-3 review-container">
            <h5><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/s4.0-11942-5.svg">
              A quality
              hotel near airport</h5>
            <p class="small">by reemasadhu on Thu December 28 20:02:17 +05:30 2017</p>
            <div class="text-justify review">
              <p class="text-truncate">This was my 2nd stay at this hotel - not so far from
                airport -
                a part of ITC
                hotels - room are spacious with all modern amenities - complementary fruits was
                a
                part of executive
                club rooms - breakfast spread was pretty good with lots of different options -
                in
                room dining, taste
                can't say awesome but okay - but service was great.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>