<div class="row py-3 pb-0">
  <div class="col text-center">
    <h4 class="mb-0">VOUCHER</h4>
  </div>
  <!-- <div class="col text-right" style="position: absolute; right:20px">
    <a [routerLink]="['/hotels/hotelinvoice']" [queryParams]="{'id':transactionId}">Download Invoice</a>
  </div> -->
</div>

<div *ngIf="dataLocalUrl != undefined">
  <object name="hotelVoucher.pdf" [attr.data]="dataLocalUrl" type="application/pdf" width="100%"
    height="2400px"></object>
  <!-- <embed [attr.src]="dataLocalUrl" type="application/pdf" width="100%" height="2400px"> -->
</div>