<div class="container" *ngIf="ticket.length"> 
<table class="table">
<tbody><tr>
<td><div class="main-heading mt-0 mb-0">
<h3 class="text-left"><i class="fa fa-hotel"></i> Hotel Booking Invoice</h3></div></td>
<td><h6>DELONIX TRAVEL SERVICES PRIVATE LIMITED</h6>
 <p>Address</p></td> 
</tr> 
 </tbody></table>
 
 <table class="table">
 <tbody><tr>
<td> <h5 class="text-muted"><i class="fa fa-user-circle"></i> My Details</h5> 
  <div>Name: <strong>{{ticket[0].guest[0].room_guest[0].firstname}} {{ticket[0].guest[0].room_guest[0].lastname}}</strong></div>
 <div>Booking Referance Number: <strong>{{ticket[0].book_response.data.booking_id}}</strong></div>
 <div>Hotel Voucher No: <strong>26145651</strong></div>
  </td>
<td> <h5 class="text-muted"><i class="fa fa-check-circle"></i>  Booking Information</h5>
  <div>Name:<strong> {{ticket[0].guest[0].room_guest[0].firstname}} {{ticket[0].guest[0].room_guest[0].lastname}},</strong></div>
 <div>Booking Referance Number: <strong>{{ticket[0].book_response.data.booking_id}}</strong></div>
 <div>Hotel Voucher No: <strong>26145651</strong></div> </td>
<td><h5 class="text-muted"><i class="fa fa-hotel"></i> Hotel Information</h5>
 <div><strong>{{ticket[0].hotel.originalName}}</strong></div>
<div>{{ticket[0].hotel.location.address}},{{ticket[0].hotel.location.city}},{{ticket[0].hotel.location.country}}</div>
<div><strong>Contact:</strong> {{ticket[0].hotel.moreDetails.phone}}</div>
<div><strong>Email:</strong> 	{{ticket[0].hotel.moreDetails.email}}</div> </td>

</tr> 
 </tbody></table>
 
 <table class="table">
<tbody><tr>
<td width="50%"> 
 <h5 class="text-muted"><i class="fa fa-list"></i> RESERVATION DETAILS</h5>
 
 <table class="table table-bordered hotelinvoice">
 <tbody><tr>
 <td>Check in</td> 
 <td>{{ticket[0].prebook_response.data.package.check_in_date | date:'medium'}}</td>
 </tr>
 <tr>
 <td>Check out</td> 
 <td>{{ticket[0].prebook_response.data.package.check_out_date | date:'medium'}}</td>
 </tr>
 <tr>
 <td>Room Type</td> 
 <td>{{ticket[0].hotel.rates.packages[0].room_details.room_type}}</td>
 </tr>
 <tr>
 <td>Reservation</td> 
 <td>{{ticket[0].prebook_response.data.package.room_count}}</td>
 </tr>
 <tr>
 <td>No of Guests</td> 
 <td>{{ticket[0].prebook_response.data.package.adult_count}}</td>
 </tr>
 <tr>
 <td>Meal Plan</td> 
 <td>Breakfast</td>
 </tr> 
 </tbody></table>
  
 </td>
 
  <td>
 <h5 class="text-muted"><i class="fa fa-inr"></i> BOOKING CHARGES DETAILS</h5>
  
 <table class="table table-bordered hotelinvoice">
 <tbody><tr>
 <td>Base Amount</td> 
 <td><i class="fa fa-inr"></i> {{ticket[0].hotelPackage.chargeable_rate}}</td>
 </tr>
 <tr>
 <td>Extras</td> 
 <td><i class="fa fa-inr"></i> 00.00</td>
 </tr>
 <tr>
 <td>Sub Total</td> 
 <td><i class="fa fa-inr"></i> {{ticket[0].hotelPackage.chargeable_rate}}</td>
 </tr>
 <tr>
 <td>Service Charges</td> 
 <td><i class="fa fa-inr"></i>{{ticket[0].hotelPackage.chargeable_rate/100*2}}</td>
 </tr>
 <tr>
 <td>GST @ 18%(including HR-SGST &amp; CGST)</td> 
 <td><i class="fa fa-inr"></i> {{ticket[0].hotelPackage.chargeable_rate/118*18 | number:'1.0-2'}}</td>
 </tr>
 <tr>
 <td>E-Coupon Amount</td>
 <div *ngIf="ticket[0].coupon != null">
 <td *ngIf="ticket[0].coupon.type=='Percentage'"><i class="fa fa-inr"></i>{{(ticket[0].hotelPackage.chargeable_rate) / 100 * (ticket[0].coupon.value)}}</td>
 <td *ngIf="ticket[0].coupon.type=='fixed'"><i class="fa fa-inr"></i>{{(ticket[0].hotelPackage.chargeable_rate) - (ticket[0].coupon.value)}}</td>
 </div>
 </tr>
 </tbody><tfoot>
 <tr>
 <td>GRAND TOTAL</td>
 <td><i class="fa fa-inr"></i> {{getGrandTotal(ticket) | number:'1.0-2'}}
</td>
 
 </tr>
 </tfoot>
 </table>
  
 </td>  
 </tr>
</tbody></table>
 
<div class=" ">
	
<strong *ngIf="ticket[0].hotel.policy">Policy :</strong>
<p>{{ticket[0].hotel.policy}}</p>
<strong>Please note: </strong>
<ul>
<li>It is mandatory for guests to present valid photo identification at the time of check-in.</li>
<li>If your hotel includes a complimentary car transfer, you will need to call the hotel directly to let them know of your travel details.</li>
</ul>
</div> 
 <div class="col-md-12"> 
<h5 class="text-muted"><i class="fa fa-list"></i> Hotel Location</h5>

<iframe [src]="getiframeUrl(ticket[0].hotel.location.latLng.lng,ticket[0].hotel.location.latLng.lat)" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div> 
	  

 
<div class="col-md-12"><hr> 
<h5 class="text-muted"><i class="fa fa-microphone"></i> Customer Support</h5>
<table class="table">
<tbody><tr>
<td>
<i class="fa fa-headphones"></i> +91-7678105666</td> 
<td>
<i class="fa fa-envelope"></i> support@delonixtravel.com
</td> 

</tr>

</tbody></table> 
 </div>
</div>