<!--SPECIAL OFFERS-->
<div class="container">
	<div class="main-heading">
		<h3 class=""><i class="fa fa-tags"></i> Special Offers</h3>
	</div>
	<div class="row">
		<div class="carousel">
			<div class="owl-carousel owl-theme">
				<div class="col-md-12 hotel-col" *ngFor="let item of allOffer">
					<img class="embed-responsive" [src]="api.baseUrl+item.image" style="min-height: 208px;">
					<div class="hotel-info">
						<h5>{{item.name}}</h5>
						<p>From : {{item.from}} - {{item.to}}</p>
						<a href="{{item.url}}" target="_blank" class="btn-light btn">Avail Offer</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--routes-container -->
<div class="container routes-container">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="main-heading pl-3">
				<h3 class=""><i class="fa fa-plane"></i>Popular Domestic Routes In India</h3>
			</div>

			<div class="routs  pl-3 pr-3">
				<div class="row">
					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6">
			<div class="main-heading">
				<h3 class=""><i class="fa fa-plane"></i> Popular International Routes From India</h3>
			</div>

			<div class="routs   pr-3">
				<div class="row">
					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>

					<div class="col-4">
						<p><a href="#">Delhi To Goa Flight</a></p>
						<p>4 Flights Stat From : 16000</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--routes-container -->

<!-- ads banner -->
<div class="clearfix"></div>
<div class="container mt-5 mb-4">
	<div class="row">
		<div class="col" *ngFor="let banner of allBanner">
			<a href="{{banner.url}}" target="_blank">
				<img [src]="api.baseUrl+banner.image" class="embed-responsive mns">
			</a>
		</div>
	</div>
</div>
<!-- ads banner -->

<!-- Holiday package -->
<div class="container mt-5 mb-4">
	<div class="main-heading">
		<h3 class=""><i class="fa fa-smile-o"></i> Holiday Packages</h3>
	</div>

	<div class="row">
		<div class="col" *ngFor="let holiday of allHoliday">
			<a href="{{holiday.url}}" target="_blank">
				<img [src]="api.baseUrl+holiday.image" class="embed-responsive mns">
			</a>
		</div>
	</div>
</div>
<!-- Holiday package -->

<!-- Popular Hotels In India -->
<div class="container mt-5 mb-4">
	<div class="main-heading">
		<h3 class=""><i class="fa fa-building"></i> Popular Hotels In India</h3>
	</div>

	<div class="row">
		<div class="col-md-4 hotel-col" *ngFor="let hotel of allHotel">
			<img [src]="api.baseUrl+hotel.image" class="embed-responsive mnd">
			<div class="hotel-info">
				<h5>{{hotel.name}}</h5>
				<p>{{hotel.subtitle}}</p>
				<a href="{{hotel.url}}" target="_blank" class="btn-light btn">Book Hotel</a>
			</div>
		</div>

	</div>

	<div class="text-center">
		<a href="#" class="btn btn-dark">View All Hotels</a>
	</div>
</div>
<!-- Popular Hotels In India -->