<div class="container">   
<div class="row"> 
<div class="col-md-12">
<div class="main-heading">
<h3 class="text-left"><i class="fa fa-list"></i> Itinerary Details</h3></div> </div> 
<div class="col-md-9">  
	<div class="row" id="border-type">
		<div class="col-md-4">
		<h6>DELONIX TRAVEL SERVICES PRIVATE LIMITED</h6>
					<table>
						<tbody><tr><th>Passenger Name</th></tr>
						<tr><td>ANGELINA ISMAILOVA </td></tr>
						
					</tbody></table>
	</div>
	<div class="col-md-4">
		<table>
						<tbody><tr><th><h6>E - Ticket</h6> </th></tr>
						<tr><td>PNR : 1A - MTUIQQ </td></tr>
						<tr><td>Issued Date : Tue 06 Feb 2018</td></tr>
					</tbody></table>
					<table>
						<tbody><tr><th>Ticket Number</th></tr>
						<tr><td>5555128826020</td></tr>
					</tbody></table>
	</div>
	<div class="col-md-4">
		<table>
						<tbody><tr><td>125, Sec-48</td></tr>
						<tr><td>Faridabad</td></tr>
						<tr><td>Faridabad 121001</td></tr>
						<tr><td>Phone : 7678105666</td></tr>
					</tbody></table>
	</div>
	</div>

	<div class="clearfix"></div>

	<div class="row" id="border-type2">
			<div class="col-md-4">
				<table>
					<tbody><tr><th>Fri 09 Feb 2018</th></tr>
					<tr><td>From:</td><th>KUF (Samara)</th></tr>
					<tr><td>To:</td><th>SVO (Sheremetyevo, Moscow)</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
				<tbody><tr><th>Aeroflot Russian Airlines SU 1211</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
					
					<tbody><tr><td>Airline Ref : LPMFKW </td></tr>
					<tr><td>Status : Confirmed</td></tr>
				
				</tbody></table>

				<table>
					
					<tbody><tr><th>Dep:</th><th>11:55 AM</th></tr>
					<tr><th>Arr:</th><th>12:40 PM</th></tr>
				</tbody></table>
			</div>
		
	</div>

	<div class="row" id="border-type">
		<div class="col-md-4"><p>T Class</p></div>
		<div class="col-md-4"><p>Non stop Baggage: 2 Units</p></div>
		<div class="col-md-4"><p>Aircraft: 73H</p><p></p></div>
		
	</div><!-- ------------------1........ -->

	<div class="clearfix"></div>

	<div class="row" id="border-type2">
			<div class="col-md-4">
				<table>
					<tbody><tr><th>Fri 09 Feb 2018</th></tr>
					<tr><td>From:</td><th>SVO (Sheremetyevo, Moscow) Terminal F</th></tr>
					<tr><td>To:</td><th>DEL (Indira Gandhi Airport, Delhi)</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
				<tbody><tr><th>Aeroflot Russian Airlines SU 234</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
					
					<tbody><tr><td>Airline Ref : LPMFKW </td></tr>
					<tr><td>Status : Confirmed</td></tr>
				
				</tbody></table>

				<table>
					
					<tbody><tr><th>Dep:</th><th>3:10 PM</th></tr>
					<tr><th>Arr:</th><th>11:45 PM</th></tr>
				</tbody></table>
			</div>
		
	</div><!-- ............ -->

	<div class="row" id="border-type">
		<div class="col-md-4"><p>T Class</p></div>
		<div class="col-md-4"><p>Non stop Baggage: 2 Units</p></div>
		<div class="col-md-4"><p>Aircraft: 333</p><p></p></div>
		
	</div><!-- ------------------------2................... -->

	<div class="clearfix"></div>

	<div class="row" id="border-type2">
			<div class="col-md-4">
				<table>
					<tbody><tr><th>Fri 09 Feb 2018</th></tr>
					<tr><td>From:</td><th>DEL (Indira Gandhi Airport, Delhi) Terminal 3</th></tr>
					<tr><td>To:</td><th>SVO (Sheremetyevo, Moscow)</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
				<tbody><tr><th>Aeroflot Russian Airlines SU 233</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
					
					<tbody><tr><td>Airline Ref : LPMFKW </td></tr>
					<tr><td>Status : Confirmed</td></tr>
				
				</tbody></table>

				<table>
					
					<tbody><tr><th>Dep:</th><th>5:50 AM</th></tr>
					<tr><th>Arr:</th><th>9:50 AM</th></tr>
				</tbody></table>
			</div>
		
	</div><!-- ............ -->

	<div class="row" id="border-type">
		<div class="col-md-4"><p>T Class</p></div>
		<div class="col-md-4"><p>Non stop Baggage: 2 Units</p></div>
		<div class="col-md-4"><p>Aircraft: 333</p><p></p></div>
		
	</div><!-- ......................3.......................... -->

	<div class="clearfix"></div>

	<div class="row" id="border-type2">
			<div class="col-md-4">
				<table>
					<tbody><tr><th>Fri 09 Feb 2018</th></tr>
					<tr><td>From:</td><th>SVO (Sheremetyevo, Moscow) Terminal D</th></tr>
					<tr><td>To:</td><th>KUF (Samara)</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
				<tbody><tr><th>Aeroflot Russian Airlines SU 1212</th></tr>
				</tbody></table>
			</div>

			<div class="col-md-4">
				<table>
					
					<tbody><tr><td>Airline Ref : LPMFKW </td></tr>
					<tr><td>Status : Confirmed</td></tr>
				
				</tbody></table>

				<table>
					
					<tbody><tr><th>Dep:</th><th>2:25 PM</th></tr>
					<tr><th>Arr:</th><th>5:10 PM</th></tr>
				</tbody></table>
			</div>
		
	</div><!-- ............ -->

	<div class="row" id="border-type">
		<div class="col-md-4"><p>T Class</p></div>
		<div class="col-md-4"><p>Non stop Baggage: 2 Units</p></div>
		<div class="col-md-4"><p>Aircraft: 32A</p><p></p></div>
		
	</div><!-- .............................4.............................. -->
	<div class="row">
		<div class="col-md-6">
			<p>This is an electronic ticket. Please carry a positive identification for check in.</p>
		</div>
		<div class="col-md-6">
			<p>Fare: Rs.16850.00</p>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-6">
			<p></p>
		</div>

		<div class="col-md-6">
			<div><p>Fee &amp; Surcharge: Rs. 19851.00</p></div>
			<div><p>Total Amount: Rs. 36701.00</p></div>
		</div>
		
	</div>

	<div class="row">
		<p>Carriage and other services provided by the carrier are subject to conditions of carriage which hereby incorporated by reference. These
conditions may be obtained from the issuing carrier. If the passenger's journey involves an ultimate destination or stop in a country
other than country of departure the Warsaw convention may be applicable and the convention governs and in most cases limits the
liability of carriers for death or personal injury and in respect of loss of or damage to baggage.
</p>
<p>"Dont forget to purchase travel insurance for your visit. Please contact your travel agent to purchase travel insurance from
IFFCO-TOKIO"</p>
	</div>

	<div>
		<table class="table table-responsive">
			<tbody><tr>
				<td><a href="ticket.php"><button type="button" class="btn btn-success">DOWNLOAD TICKET</button></a></td>
 	<td><a href="ticket.php"><button type="button" class="btn btn-success">EMAIL TICKET</button></a></td>
			</tr>
		</tbody></table>
	</div>
</div>

    

<!-- Right Panel -->
<div class="col-md-3">
<div class="filter-data">
<div class="flight-booking-cart">
<div class="text-center"><i class="fa fa-user-circle text-light fa-4x"></i>
<p><b><a href="#" class="text-danger">MR. AMIT KUMAR</a></b></p>
<p class="text-muted">Haryana | IND</p>
<hr>
  <p>amit@delonix.com</p>
  <p>Phone: +91-965064909</p>
  </div>  
</div> 
</div>
</div>
<!-- Right Panel -->

</div>
</div>