<div class="container">   
<div class="row"> 
<div class="col-md-12">
<div class="main-heading">
<h3 class="text-left"><i class="fa fa-list"></i> Itinerary Details</h3></div> </div> 
<div class="col-md-9">  
<!-- Flight Details -->

<!-- Flight Details -->
 

<div class="flightdetail">
<div class="row text-light bg-danger">
<div class="col">
<div class="pl-2">Total Passenger(s): 4<br>
ADULT(S):2 | CHILDREN(S):1 | INFANT(S):1</div></div>
 
<div class="col text-right">
<div class="pl-2">Booked On: 17 Nov'17 <br> Booking Ref No. 1711739158712</div> 
</div>
</div>

<div class="row">
 <div class="col col-md-3 pt-2 pb-2 text-muted text-center">
<div class="text-center pb-2 pt-1">
<div class="arival pull-left"></div>
<span>New Delhi</span><br>
<span>16-12-2017 07:05 AM</span>
</div>
</div>

<div class="col col-md-1 pt-3 pb-2 text-center text-muted">
<i class="fa fa-long-arrow-right fa-2x"></i> </div>

<div class="col col-md-3 pt-2 pb-2 br text-muted"> 
<div class="depart pull-left"></div>
<div class="pull-left">
<span>Hyderabad</span><br>
<span>16-12-2017 07:05 AM</span>
</div>
</div> 

<div class="col col-md-3 pt-2 pb-2 br">  
<div class="text-center text-muted">
<div class="class">PNR Status : <span class="badge-success badge">Confirmed</span></div>  
<div class="pnr">02hr 05min/ NonStop</div> 
</div>
</div>  

<div class="col col-md-2 pt-2 pb-2">  
<div class="text-center text-muted">
<div class="class">PNR: #YS22H</div>  
<div class="text-success"><i class="fa fa-check-circle"></i> Refundable</div> 
</div>
</div>  


<div class="clearfix"></div>
 </div> </div> 
<!-- Traveller Details  -->
<div class="bg-light border pt-2 pb-0"><h6 class="text-center">New Delhi - Hyderabad</h6></div>
 
<div class="flightdetail">

<div class="row">
<div class="col col-md-2 text-center pt-2 pb-2 br">
<img src="images/delta-air-lines.png" class="img-fluid" alt="Delta Air Lines" title="Delta Airlines">
<div class="clearfix"></div>
<div class="fname text-muted">Delta - C9-225 </div>
</div>
<div class="col col-md-2 pt-2 pb-2 br">  
<div class="pull-left text-center text-muted">
<div class="class">Economy</div>  
<div class="pnr">PNR#:YS22H</div> 
</div>

</div>
<div class="col col-md-3 pt-2 pb-2   text-muted text-center">
<div class="text-center pb-2 pt-1">
<div class="arival pull-left"></div>
<span>New Delhi</span><br>
<span>16-12-2017 07:05 AM</span>
</div>
</div>
<div class="col col-md-2 pt-2 pb-2 text-center text-muted">
<div> <i class="fa fa-long-arrow-right fa-2x"></i><div>
<div class="stop badge badge-danger">TERMINAL: T-3  </div></div></div></div>

<div class="col col-md-3 pt-2 pb-2  text-muted"> 
<div class="depart pull-left"></div>
<div class="pull-left">
<span>Hyderabad</span><br>
<span>16-12-2017 07:05 AM</span>
</div>
</div>   
<div class="clearfix"></div>
 </div>
 <!-- Traveller Details Table -->
 <div class=" mt-3">
 <table class="table table-responsive table-striped table-bordered">
 <thead class="thead-dark">
 <tr>
 <th class="text-center">SNo.</th>
 <th>Passenger Name</th>
 <th>Status</th>
 <th>Seat No.(s)</th>
 <th>Baggage</th>
 <th>Meal</th>
 <th>Others</th> 
 </tr>
 </thead>
 
 <tbody>
 <tr>
 <td class="text-center">1</td>
 <td>Mr Shuvendu Pattanayak</td>
 <td class="text-center"> <span class="badge badge-success"> Confirmed</span></td>
 <td>17F <span class="text-success">(Confirmed)</span></td>
 <td class="text-center">25 Kg (free)</td>
 <td>Hindu (Non Vegetarian) Meal Specific (Pending)</td>
 <td>N/A</td> 
 </tr>
 
 <tr>
 <td class="text-center">1</td>
 <td>Mr Shuvendu Pattanayak</td>
 <td class="text-center"> <span class="badge badge-success"> Confirmed</span></td>
 <td>17F <span class="text-success">(Confirmed)</span></td>
 <td class="text-center">25 Kg (free)</td>
 <td>Hindu (Non Vegetarian) Meal Specific (Pending)</td>
 <td>N/A</td> 
 </tr>
 
 <tr>
 <td class="text-center">1</td>
 <td>Mr Shuvendu Pattanayak</td>
 <td class="text-center"> <span class="badge badge-success"> Confirmed</span></td>
 <td>17F <span class="text-success">(Confirmed)</span></td>
 <td class="text-center">25 Kg (free)</td>
 <td>Hindu (Non Vegetarian) Meal Specific (Pending)</td>
 <td>N/A</td> 
 </tr>
 
 <tr>
 <td class="text-center">1</td>
 <td>Mr Shuvendu Pattanayak</td>
 <td class="text-center"> <span class="badge badge-success"> Confirmed</span></td>
 <td>17F <span class="text-success">(Confirmed)</span></td>
 <td class="text-center">25 Kg (free)</td>
 <td>Hindu (Non Vegetarian) Meal Specific (Pending)</td>
 <td>N/A</td> 
 </tr>
 
 <tr>
 	<td><a href="ticket.php"><button type="button" class="btn btn-success">VIEW TICKET</button></a></td>
<td><a href="ticket.php"><button type="button" class="btn btn-success">DOWNLOAD TICKET</button></a></td>
 	<!-- <td><a href="ticket.php"><button type="button" class="btn btn-success">EMAIL TICKET</button></a></td>
 	<td><a href="ticket.php"><button type="button" class="btn btn-success">CANNCEL TICKET</button></a></td> -->
 </tr>
 
 </tbody>
 
 
 </table>
 </div>
 
 <!-- Traveller Details Table -->
 
 
 
 </div>
 </div>
 <!-- Traveller Details  -->
    

<!-- Right Panel -->
<div class="col-md-3">
<div class="filter-data">
<div class="flight-booking-cart">
<div class="text-center"><i class="fa fa-user-circle text-light fa-4x"></i>
<p><b><a href="#" class="text-danger">MR. AMIT KUMAR</a></b></p>
<p class="text-muted">Haryana | IND</p>
<hr>
 <p>amit@delonix.com</p>
  <p>Phone: +91-965064909</p>
  </div>  
</div> 
</div>
</div>
<!-- Right Panel -->

</div>
</div>